<nav class="breadcrumb">
	<a class="breadcrumb-item" routerLink="/dashboard">首页</a>
	<span class="breadcrumb-item active">租客合同</span>
</nav>
<table class="table table-sm table-bordered table-hover">
	<thead class="thead-inverse">
		<tr>
			<th class="text-sm-center align-middle">#</th>
			<th class="text-sm-center align-middle">编号</th>
			<th class="text-sm-center align-middle">标题</th>
			<th class="text-sm-center align-middle" colspan="3">地址</th>
			<th class="text-sm-center align-middle" colspan="2">总面积</th>
			<th class="text-sm-center align-middle">操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="text-sm-center align-middle">&nbsp;</td>
			<td><input type="text" class="form-control form-control-sm" placeholder="编号" [(ngModel)]="filters.number" />
				<input type="text" class="form-control form-control-sm" placeholder="租客名称" /></td>
			<td><input type="text" class="form-control form-control-sm" placeholder="标题" [(ngModel)]="filters.name" />
				<input type="text" class="form-control form-control-sm" placeholder="租客手机" /></td>
			<td colspan="3"><input type="text" class="form-control form-control-sm" placeholder="地址" /></td>
			<td colspan="2"></td>
			<td><button type="sbumit" class="btn btn-primary btn-sm" (click)="onChangeFilter()">搜索</button></td>
		</tr>
	</tbody>
	<tbody *ngFor="let row of page.rows;let i = index">
		<tr>
			<td class="text-sm-center align-middle"><a class="btn btn-link btn-sm" href="javascript:void(0);" (click)="page.isOpen[i]=!page.isOpen[i]"><i class="fa fa-fw" [class.fa-plus-square-o]="!page.isOpen[i]" [class.fa-minus-square-o]="page.isOpen[i]"></i></a></td>
			<td class="text-sm-center align-middle">{{ row.number }}</td>
			<td class="text-sm-center align-middle">{{ row.name }}</td>
			<td class="text-sm-center align-middle" colspan="3">{{ row.address }}</td>
			<td class="text-sm-center align-middle" colspan="2">{{ row.gross_area }} m<sup>2</sup></td>
			<td>
				<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="fa fa-fw fa-eye"></i>查看</a>
				<a href="javascript:void(0);" class="btn btn-sm btn-info"><i class="fa fa-fw fa-history"></i>历史</a>
			</td>
		</tr>
		<tr *ngIf="page.isOpen[i]">
			<th class="text-sm-center align-middle">房号</th>
			<th class="text-sm-center align-middle">租客名称</th>
			<th class="text-sm-center align-middle">联系电话</th>
			<th class="text-sm-center align-middle">起始日期</th>
			<th class="text-sm-center align-middle">结束日期</th>
			<th class="text-sm-center align-middle">支付方式</th>
			<th class="text-sm-center align-middle">价格</th>
			<th class="text-sm-center align-middle">押金</th>
			<th class="text-sm-center align-middle">操作</th>
		</tr>
		<tr *ngFor="let r of row.housing_room" [class.hidden-xs-up]="!page.isOpen[i]">
			<td class="text-sm-center align-middle">{{ r.tabs }}房</td>
			<td class="text-sm-center align-middle"></td>
			<td class="text-sm-center align-middle"></td>
			<td class="text-sm-center align-middle">{{ r.date_start }}</td>
			<td class="text-sm-center align-middle">{{ r.date_end }}</td>
			<td class="text-sm-center align-middle">{{ r.mode_payment }}</td>
			<td class="text-sm-center align-middle">{{ r.rental }}元/月</td>
			<td class="text-sm-center align-middle">{{ r.deposit }}元</td>
			<td *ngIf="r.is_rent == 1">
				<a class="btn btn-sm btn-primary" routerLink="/housing-room/contract/retrieve/{{ r.housing_room_id }}"><i class="fa fa-fw fa-eye"></i>查看</a>
				<a class="btn btn-sm btn-danger" routerLink="/housing-room/contract/update/{{ r.housing_room_id }}"><i class="fa fa-fw fa-bookmark-o"></i>变更</a>
			</td>
			<td *ngIf="r.is_rent == 0">
				<!--<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="fa fa-fw fa-calendar-check-o"></i>预约</a>-->
				<a class="btn btn-sm btn-success" routerLink="/housing-room/contract/create/{{ r.housing_room_id }}"><i class="fa fa-fw fa-pencil"></i>签约</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="text-sm-center">
	<div class="mb-1">当前:{{ page.config.currentPage }}页&nbsp;/&nbsp;总共{{ page.totalPages }}页&nbsp;|&nbsp;每页:{{ page.config.itemsPerPage }}条&nbsp;/&nbsp;总{{ page.config.totalItems }}共条</div>
	<ul class="pagination justify-content-center mt-0 mb-0">
		<li class="page-item" *ngIf="page.config.currentPage !== 1"  (click)="selectPage(1, $event)"><a class="page-link" href="javascript:void(0);">首页</a></li>
		<li class="page-item" *ngFor="let pg of page.pages;" [class.active]="pg.active" (click)="selectPage(pg.number, $event)"><a class="page-link" href="javascript:void(0);">{{ pg.text }}</a></li>
		<li class="page-item" *ngIf="page.config.currentPage !== this.page.totalPages"  (click)="selectPage(this.page.totalPages, $event)"><a class="page-link" href="javascript:void(0);">尾页</a></li>
	</ul>
</div>