<div class="print print-only">
	<div class="print-content">
		<div><h3><strong>签约合同之附件</strong></h3></div>
		<h3><strong>物品清单：</strong></h3>
		<table>
			<thead>
				<tr>
					<th>主体</th>
					<th colspan="4">甲方（广州团租资产管理有限公司）</th>
					<th colspan="4" width="50%">乙方（使用人）</th>
				</tr>
				<tr>
					<th>房屋地址</th>
					<td colspan="8"></td>
				</tr>
				<tr>
					<th colspan="9">公共区域配置</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th width="10%">厨房用品</th>
					<th>数量</th>
					<th>单价（元）</th>
					<th>餐厅用品</th>
					<th>数量</th>
					<th>单价（元）</th>
					<th>卫生间用品</th>
					<th>数量</th>
					<th>单价（元）</th>
				</tr>
				<tr>
					<td>冰箱</td>
					<td></td>
					<td>1500.00/台</td>
					<td>餐桌</td>
					<td></td>
					<td>300.00/张</td>
					<td>洗衣机</td>
					<td></td>
					<td>1000.00/台</td>
				</tr>
				<tr>
					<td>微波炉</td>
					<td></td>
					<td>500.00/台</td>
					<td>餐椅</td>
					<td></td>
					<td>100.00/张</td>
					<td>热水器</td>
					<td></td>
					<td>800.00/个</td>
				</tr>
				<tr>
					<td>燃气灶</td>
					<td></td>
					<td>800.00/台</td>
					<td>装饰画</td>
					<td></td>
					<td>50.00/幅</td>
					<td>洗手盆</td>
					<td></td>
					<td>600.00/个</td>
				</tr>
				<tr>
					<td>油烟机</td>
					<td></td>
					<td>800.00/台</td>
					<td>路由器</td>
					<td></td>
					<td>200.00/个</td>
					<td>马桶</td>
					<td></td>
					<td>1000.00/个</td>
				</tr>
				<tr>
					<td>灶台</td>
					<td></td>
					<td>1000.00/个</td>
					<td>智能门锁</td>
					<td></td>
					<td>1000.00/个</td>
					<td>水龙头</td>
					<td></td>
					<td>50.00/个</td>
				</tr>
				<tr>
					<td>吊橱柜</td>
					<td></td>
					<td>800.00/套</td>
					<td>大门</td>
					<td></td>
					<td>2000.00/扇</td>
					<td>淋浴蓬</td>
					<td></td>
					<td>50.00/个</td>
				</tr>
				<tr>
					<td>洗菜盆</td>
					<td></td>
					<td>200.00/个</td>
					<td>天顶灯</td>
					<td></td>
					<td>150.00/个</td>
					<td>镜子</td>
					<td></td>
					<td>100.00/面</td>
				</tr>
				<tr>
					<td>消毒碗柜</td>
					<td></td>
					<td>1000.00/台</td>
					<td>开关</td>
					<td></td>
					<td>50.00/个</td>
					<td>毛巾架</td>
					<td></td>
					<td>100.00/个</td>
				</tr>
				<tr>
					<td>水龙头</td>
					<td></td>
					<td>100.00/个</td>
					<td></td>
					<td></td>
					<td></td>
					<td>储物架</td>
					<td></td>
					<td>50.00/个</td>
				</tr>
				<tr>
					<td>厨房门</td>
					<td></td>
					<td>1000.00/扇</td>
					<td></td>
					<td></td>
					<td></td>
					<td>卫生间门</td>
					<td></td>
					<td>600.00/扇</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th colspan="9">其他</th>
				</tr>
				<tr>
					<th>厨房用品</th>
					<th>数量</th>
					<th>单价（元）</th>
					<th>餐厅用品</th>
					<th>数量</th>
					<th>单价（元）</th>
					<th>卫生间用品</th>
					<th>数量</th>
					<th>单价（元）</th>
				</tr>
				<tr>
					<td>冰箱</td>
					<td></td>
					<td>1500.00/台</td>
					<td>餐桌</td>
					<td></td>
					<td>300.00/张</td>
					<td>洗衣机</td>
					<td></td>
					<td>1000.00/台</td>
				</tr>
				<tr>
					<td>微波炉</td>
					<td></td>
					<td>500.00/台</td>
					<td>餐椅</td>
					<td></td>
					<td>100.00/张</td>
					<td>热水器</td>
					<td></td>
					<td>800.00/个</td>
				</tr>
				<tr>
					<td>燃气灶</td>
					<td></td>
					<td>800.00/台</td>
					<td>装饰画</td>
					<td></td>
					<td>50.00/幅</td>
					<td>洗手盆</td>
					<td></td>
					<td>600.00/个</td>
				</tr>
				<tr>
					<td>油烟机</td>
					<td></td>
					<td>800.00/台</td>
					<td>路由器</td>
					<td></td>
					<td>200.00/个</td>
					<td>马桶</td>
					<td></td>
					<td>1000.00/个</td>
				</tr>
				<tr>
					<td>灶台</td>
					<td></td>
					<td>1000.00/个</td>
					<td>智能门锁</td>
					<td></td>
					<td>1000.00/个</td>
					<td>水龙头</td>
					<td></td>
					<td>50.00/个</td>
				</tr>
				<tr>
					<td>吊橱柜</td>
					<td></td>
					<td>800.00/套</td>
					<td>大门</td>
					<td></td>
					<td>2000.00/扇</td>
					<td>淋浴蓬</td>
					<td></td>
					<td>50.00/个</td>
				</tr>
				<tr>
					<td>洗菜盆</td>
					<td></td>
					<td>200.00/个</td>
					<td>天顶灯</td>
					<td></td>
					<td>150.00/个</td>
					<td>镜子</td>
					<td></td>
					<td>100.00/面</td>
				</tr>
				<tr>
					<td>消毒碗柜</td>
					<td></td>
					<td>1000.00/台</td>
					<td>开关</td>
					<td></td>
					<td>50.00/个</td>
					<td>毛巾架</td>
					<td></td>
					<td>100.00/个</td>
				</tr>
				<tr>
					<td>水龙头</td>
					<td></td>
					<td>100.00/个</td>
					<td></td>
					<td></td>
					<td></td>
					<td>储物架</td>
					<td></td>
					<td>50.00/个</td>
				</tr>
				<tr>
					<td>厨房门</td>
					<td></td>
					<td>1000.00/扇</td>
					<td></td>
					<td></td>
					<td></td>
					<td>卫生间门</td>
					<td></td>
					<td>600.00/扇</td>
				</tr>
				<tr>
					<th colspan="9">其他</th>
				</tr>
				<tr>
					<th colspan="9">房内配置</th>
				</tr>
				<tr>
					<th>签署</th>
					<th colspan="4">甲方（盖章）：广州团租资产管理有限公司</th>
					<th colspan="4">乙方（签名）：</th>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="print-content">
		<h3><strong>入住水、电、燃气及杂费交接书：</strong></h3>
		<table>
			<tr>
				<th>主体</th>
				<td>甲方（广州团租资产管理有限公司）</td>
				<td>乙方（使用人）</td>
			</tr>
			<tr>
				<th>内容</th>
				<td colspan="2">
					1、交房时，该房屋内的电、燃气抄见数如下：<br /><br /><br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					电表读数：________________________&nbsp;&nbsp;&nbsp;&nbsp;燃气表读数：________________________ <br /><br /><br />
					2、其他____________________________________________________________________________。
				</td>
			</tr>
			<tr>
				<th rowspan="2">签署</th>
				<td width="45%">甲方（盖章）：广州团租资产管理有限公司</td>
				<td width="45%">乙方（签名）：</td>
			</tr>
			<tr>
				<td>日期：</td>
				<td>日期：</td>
			</tr>
		</table>
		<br />
		<br />
		<br />
		
		<h3><strong>退租水、电、燃气及杂费交接书：</strong></h3>
		<table>
			<tr>
				<th>主体</th>
				<td>甲方（广州团租资产管理有限公司）</td>
				<td>乙方（使用人）</td>
			</tr>
			<tr>
				<th>内容</th>
				<td colspan="2">
					1、退房时，该房屋内的电、燃气抄见数如下：<br /><br /><br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					电表读数：________________________&nbsp;&nbsp;&nbsp;&nbsp;燃气表读数：________________________ <br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					且甲、乙双方已对水、电、燃气等费用结算完结。<br /><br />
					2、其他____________________________________________________________________________。
				</td>
			</tr>
			<tr>
				<th rowspan="2">签署</th>
				<td width="45%">甲方（盖章）：广州团租资产管理有限公司</td>
				<td width="45%">乙方（签名）：</td>
			</tr>
			<tr>
				<td>日期：</td>
				<td>日期：</td>
			</tr>
		</table>
	</div>
</div>