<div class="card">
	<div class="card-header">
		<ul class="nav nav-pills card-header-pills float-left">
			<li class="nav-item"><a class="nav-link btn-sm" href="javascript:void(0);" [class.active]="active == 1" (click)="active = 1">租客合同</a></li>
			<li class="nav-item"><a class="nav-link btn-sm" href="javascript:void(0);" [class.active]="active == 2" (click)="active = 2">住客指南</a></li>
			<li class="nav-item"><a class="nav-link btn-sm" href="javascript:void(0);" [class.active]="active == 3" (click)="active = 3">水电燃气</a></li>
			<li class="nav-item"><a class="nav-link btn-sm" href="javascript:void(0);" [class.active]="active == 4" (click)="active = 4">打印账单</a></li>
		</ul>
		<button type="button" class="btn btn-primary btn-sm float-right" (click)="onNext()">下一步</button>
	</div>
	<div class="card-block tab-content" [ngSwitch]="active">
		<div class="tab-pane active" *ngSwitchCase="1">
			<housing-room-contract-print-meal></housing-room-contract-print-meal>
		</div>

		<div class="tab-pane active" *ngSwitchCase="2">
			住客指南
		</div>

		<div class="tab-pane active" *ngSwitchCase="3">
			水电燃气
		</div>

		<div class="tab-pane active" *ngSwitchCase="4">
			打印账单
		</div>
	</div>
</div>