<div class="text-center">
	<button type="button" class="btn btn-info btn-sm" onclick="window.print();">打印</button>
</div>
<div class="print print-only" style="top:-3cm">
	<div class="print-content">
		<table class="table table-bordered">
			<tr><td class="text-center f-s-14" colspan="15">广州团租资产管理有限公司</td></tr>
			<tr>
				<td colspan="9">专用收据</td>
				<td colspan="6"></td>
			</tr>
			<tr>
				<td colspan="3">房间地址</td>
				<td colspan="12"></td>
			</tr>
			<tr>
				<td colspan="3">会员姓名</td>
				<td colspan="4"></td>
				<td colspan="2">收据日期</td>
				<td colspan="6"></td>
			</tr>
			<tr>
				<th colspan="3">项目</th>
				<th colspan="8">收费时间区段</th>
				<th colspan="3">金额（元）</th>
				<td rowspan="11" style="font-size: 12px;">
					<span>①<br />存<br />根<br />︵<br />白<br />︶<br /></span>
					<span>②<br />收<br />据<br />︵<br />红<br />︶<br /></span>
					<span>③<br />记<br />账<br />︵<br />黄<br />︶<br /></span>
				</td>
			</tr>
			<tr>
				<td colspan="3">租房押金</td>
				<td colspan="3"></td>
				<td colspan="2">至</td>
				<td colspan="3"></td>
				<td colspan="3">元</td>
			</tr>
			<tr>
				<td colspan="3">房屋使用费</td>
				<td colspan="3"></td>
				<td colspan="2">至</td>
				<td colspan="3"></td>
				<td colspan="3">元</td>
			</tr>
			<tr>
				<td colspan="3">管理费</td>
				<td colspan="3"></td>
				<td colspan="2">至</td>
				<td colspan="3"></td>
				<td colspan="3">元</td>
			</tr>
			<tr>
				<td colspan="3">代收水、电、燃气费</td>
				<td colspan="3"></td>
				<td colspan="2">至</td>
				<td colspan="3"></td>
				<td colspan="3">元</td>
			</tr>
			<tr>
				<td colspan="3">小区业主卡押金</td>
				<td colspan="3"></td>
				<td colspan="2">至</td>
				<td colspan="3"></td>
				<td colspan="3">0</td>
			</tr>
			<tr>
				<td colspan="3">付款方式</td>
				<td colspan="11"></td>
			</tr>
			<tr>
				<td colspan="3">备注</td>
				<td colspan="11"></td>
			</tr>
			<tr>
				<td colspan="3">合计（大写RMB）</td>
				<td colspan="6">￥</td>
				<td colspan="3">小写（RMB)</td>
				<td colspan="2">元</td>
			</tr>
			<tr>
				<td colspan="3">经手人</td>
				<td colspan="2"></td>
				<td colspan="2">核准</td>
				<td colspan="2"></td>
				<td colspan="3">收款单位（盖章）</td>
				<td colspan="2"></td>
			</tr>
		</table>
	</div>
</div>