<div class="container-fluid p-0">
	<form class="bg-faded mx-auto mt-3 pt-1 pr-2 pb-2 pl-2" style="width: 40%;" (ngSubmit)="onSubmit(loginFrom)" #loginFrom="ngForm">
		<h2 class="text-xs-center">登陆</h2>
		<div class="alert alert-danger" *ngIf="this.message">{{this.message}}</div>
		
		<fieldset class="form-group">
			<label>邮箱<small class="text-muted text-warning">(*必填)</small>：</label>
			<input type="text" name="email" class="form-control" placeholder="邮箱" autofocus required pattern="^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$" [(ngModel)]="model.email"/>
		</fieldset>

		<fieldset class="form-group" [class.has-danger]="password.touched && !password.valid">
			<label>密码<small class="text-muted text-warning">(*必填)</small>：</label>
			<input type="password" name="password" class="form-control" placeholder="密码" required minlength="6" [(ngModel)]="model.password" [class.form-control-danger]="password.touched && !password.valid" #password="ngModel"/>
		</fieldset>
		
		<!--<fieldset class="form-group">
			<label>验证码：</label>
			<div class="row">
				<div class="col-sm-12 col-md-4">
					图片
				</div>
				<div class="col-sm-12 col-md-8">
					<input type="text" name="identifying-code" class="form-control" placeholder="验证码"/>
				</div>
			</div>
		</fieldset>-->
		<button type="submit" class="btn btn-primary btn-block" [disabled]="!loginFrom.form.valid" (keydown.enter)="loginForm.form.valid">登陆</button>
	</form>
</div>