<div class="navbar navbar-default header-highlight">
	<div class="navbar-header">
		<a class="navbar-brand" href="javascript:void(0);"><i class="fa fa-fw fa-asterisk"></i> 团租</a>
		<ul class="nav navbar-nav visible-xs-block">
			<li><a href="javascript:void(0)"><i class="fa fa-fw fa-user"></i></a></li>
			<li><a href="javascript:void(0)"><i class="fa fa-fw fa-align-justify"></i></a></li>
		</ul>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li>
				<a href="javascript:void(0);">
					<i class="fa fa-fw fa-align-justify"></i>
					<span class="status-mark" style="border-color: #fff"></span>
				</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<i class="fa fa-fw fa-crop"></i>
					<span class="visible-xs-inline-block position-right">快捷菜单</span>
					<span class="status-mark b-pink-3"></span>
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<i class="fa fa-fw fa-bell"></i>
					<span class="visible-xs-inline-block">Activity</span>
					<span class="status-mark b-orange-4"></span>
				</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<i class="fa fa-fw fa-comment"></i>
					<span class="visible-xs-inline-block">Messages</span>
					<span class="status-mark b-orange-4"></span>
				</a>
			</li>
			<li class="dropdown dropdown-user">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<img class="img-circle" src="http://dummyimage.com/36x36/000/fff.gif&text=M" alt="head">
					<span>Maing</span>
					<i class="caret"></i>
				</a>
			</li>
		</ul>
	</div>
</div>