<div class="navbar navbar-inverse bg-indigo">
	<div class="navbar-header">
		<a class="navbar-brand" href="javascript:void(0);"><img src="http://zhanweitu.com/206x32/3F51B5/m/" alt="navbar"></a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href="javascript:void(0);"><i class="fa fa-fw fa-list"></i></a></li>
		</ul>
		<div class="navbar-right">
			<p class="navbar-text">Morning, Maing</p>
			<p class="navbar-text"><span class="label bg-success-400">在线</span></p>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" href="javascript:void(0);">
						<i class="fa fa-fw fa-bell"></i>
						<span class="visible-xs-inline-block">Activity</span>
						<span class="status-mark border-orange-400"></span>
					</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="javascript:void(0);">
						<i class="fa fa-fw fa-comment"></i>
						<span class="visible-xs-inline-block">Messages</span>
						<span class="status-mark border-orange-400"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>