.sidebar {
	background-color: #263238;
	color: #fff;
	position: relative;
	width: 100%;
	display: none;
}

@media (min-width: 769px) {
	.sidebar {
		display: block;
		vertical-align: top;
		width: 260px;
	}
}

.sidebar-main {
	z-index: 99
}

.sidebar-secondary {
	z-index: 98
}

.sidebar-opposite {
	display: none;
	z-index: 97
}

.sidebar-content {
	position: relative;
	padding-bottom: 8px
}

.category-content,
.navigation,
.navigation li {
	position: relative
}

.category-content {
	padding: 20px
}

.navigation {
	margin: 0;
	padding: 10px 0;
	list-style: none
}

.sidebar-user+.sidebar-category .navigation {
	padding-top: 0
}

.navigation .hidden-ul {
	display: none
}

.navigation li+li {
	margin-top: 1px
}

.navigation li+.navigation-header {
	margin-top: 10px
}

.navigation li a {
	color: rgba(255, 255, 255, .75);
	display: block;
	-webkit-transition: background .15s linear, color .15s linear;
	-o-transition: background .15s linear, color .15s linear;
	transition: background .15s linear, color .15s linear
}

.navigation li a:focus,
.navigation li a:hover {
	background-color: rgba(0, 0, 0, .1);
	color: #fff
}

.navigation li a>i {
	float: left;
	top: 0;
	margin-top: 2px;
	margin-right: 15px;
	-webkit-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out
}

.navigation li a>i.pull-right {
	margin-right: 0;
	margin-left: 15px
}

.navigation li.disabled>a,
.navigation li.disabled>a:focus,
.navigation li.disabled>a:hover {
	color: inherit;
	background-color: transparent;
	cursor: not-allowed;
	opacity: .3;
	filter: alpha(opacity=30)
}

.navigation li>.has-ul {
	position: relative;
	padding-right: 36px
}

.navigation li>.has-ul:after {
	content: "\f105";
	font-family: "FontAwesome";
	font-size: 16px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 20px;
	line-height: 1;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: -webkit-transform .2s ease-in-out;
	-o-transition: -webkit-transform .2s ease-in-out;
	transition: -webkit-transform .2s ease-in-out
}

.navigation li.active>.has-ul:after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg)
}

.navigation li.navigation-divider {
	margin: 10px 0;
	height: 1px;
	background-color: rgba(255, 255, 255, .1)
}

.navigation>li>a {
	padding: 12px 20px;
	min-height: 44px;
	font-weight: 500
}

.navigation>li.active>a,
.navigation>li.active>a:focus,
.navigation>li.active>a:hover {
	background-color: #26A69A;
	color: #fff
}

.navigation>li.active>a>[class*=text-] {
	color: #fff
}

.navigation>li ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .05);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .05)
}

.navigation>li ul li a {
	padding: 10px 20px 10px 51px;
	min-height: 40px
}

.navigation>li ul .navigation-header {
	padding-left: 51px
}

.navigation>li>ul>li>ul>.navigation-header,
.navigation>li>ul>li>ul>li>a {
	padding-left: 71px
}

.navigation>li>ul>li>ul>li>ul .navigation-header,
.navigation>li>ul>li>ul>li>ul>li>a {
	padding-left: 91px
}

.navigation>li>ul li:first-child {
	padding-top: 10px
}

.navigation>li>ul li:last-child {
	padding-bottom: 10px
}

.navigation>li>ul li.active>a,
.navigation>li>ul li.active>a:focus,
.navigation>li>ul li.active>a:hover {
	background-color: rgba(0, 0, 0, .2);
	color: #fff
}

.navigation .navigation-header {
	min-height: 30px;
	padding: 10px 20px;
	border-bottom: 0;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 1.82
}

.navigation .navigation-header>span {
	display: block;
	margin-top: 2px
}

.navigation .navigation-header>i {
	display: none
}

.navigation.nav>.active>.hidden-ul,
.sidebar-detached .navigation.nav>.active>.hidden-ul {
	display: block
}

.navigation .navigation-header>i.pull-right {
	margin-top: 2px
}

.navigation .navigation-header,
.navigation .navigation-header a {
	color: rgba(255, 255, 255, .5);
	font-weight: 400
}

.multiselect-container>li>a.multiselect-all label,
.val-demo>span {
	font-weight: 500
}

.navigation .navigation-header a:focus,
.navigation .navigation-header a:hover {
	color: #fff
}

.navigation .navigation-header a i {
	float: none;
	margin: 0
}

@media (max-width: 768px) {
	.navigation.nav>li>.hidden-ul,
	.sidebar-detached .navigation.nav>li>.hidden-ul {
		display: block
	}
}

.sidebar .media .text-muted {
	color: rgba(255, 255, 255, .8)
}

.sidebar .media a {
	color: #fff
}

.sidebar .media .media-link:focus,
.sidebar .media .media-link:hover {
	background-color: rgba(0, 0, 0, .1)
}

.sidebar .media .media-badge {
	border-color: #263238
}

.sidebar .media-list-bordered>li {
	border-color: rgba(255, 255, 255, .1)
}