<div class="sidebar sidebar-main sidebar-default">
	<div class="sidebar-content">
		<div class="sidebar-user">
			<div class="category-content">
				<div class="media">
					<a class="media-left">
						<img src="http://zhanweitu.com/36x36/000/M/" class="img-circle" alt="user">
					</a>
					<div class="media-body">
						<span class="media-heading text-semibold">Maing</span>
						<div class="text-muted">
							<i class="fa fa-fw fa-asterisk"></i> &nbsp;程序员
						</div>
					</div>
					<a class="media-right media-middle" href="javascript:void(0);"><i class="fa fa-fw fa-cog"></i></a>
				</div>
			</div>
		</div>
		
		<div class="sidebar-category sidebar-category-visible">
			<div class="category-content p-0">
				<ul class="navigation navigation-main navigation-accordion">
					<li class="navigation-header"><span>Main</span> <i class="fa fa-fw fa-ellipsis-h" title="Main"></i></li>
					<li><a [routerLink]="['Dashboard']"><i class="fa fa-fw fa-home"></i> <span>首页</span></a></li>
					<li>
						<a href="javascript:void(0);" class="has-ul"><i class="fa fa-fw fa-home"></i> <span>Page layouts</span></a>
						<ul class="hidden-ul">
							<li><a href="javascript:void(0);">Fixed navbar</a></li>
							<li class="navigation-divider"></li>
							<li><a href="javascript:void(0);">Fixed navbar</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>