<div class="sidebar sidebar-main sidebar-default">
	<div class="sidebar-content">
		<div class="sidebar-user">
			<div class="category-content">
				<div class="media">
					<a class="media-left">
						<img src="http://zhanweitu.com/36x36/000/M/" class="img-circle" alt="user">
					</a>
					<div class="media-body">
						<span class="media-heading text-semibold">Maing</span>
						<div class="text-muted">
							<i class="fa fa-fw fa-asterisk"></i> &nbsp;程序员
						</div>
					</div>
					<a class="media-right media-middle" href="javascript:void(0);"><i class="fa fa-fw fa-cog"></i></a>
				</div>
			</div>
		</div>
		
		<div class="sidebar-category sidebar-category-visible">
			<div class="category-content p-0">
				<ul class="navigation navigation-main navigation-accordion">
					<li class="navigation-header"><span>基本管理</span> <i class="fa fa-fw fa-ellipsis-h" title="基本管理"></i></li>
					<li><a [routerLink]="['Dashboard']"><i class="fa fa-fw fa-home"></i> <span>首页</span></a></li>
					<li (click)="active[0]=!active[0]" [class.active]="active[0]">
						<a href="javascript:void(0);" class="has-ul"><i class="fa fa-fw fa-home"></i> <span>房屋管理</span></a>
						<ul class="hidden-ul" [style.display]="active[0] ? 'block' : 'none'">
							<li><a href="javascript:void(0);">小区管理</a></li>
							<li><a href="javascript:void(0);">管理费</a></li>
							<li><a href="javascript:void(0);">套间管理</a></li>
							<li class="navigation-divider"></li>
							<li><a href="javascript:void(0);">房间管理</a></li>
							<li><a href="javascript:void(0);">租金账单</a></li>
						</ul>
					</li>
					<li (click)="active[1]=!active[1]" [class.active]="active[1]">
						<a href="javascript:void(0);" class="has-ul"><i class="fa fa-fw fa-home"></i> <span>租房管理</span></a>
						<ul class="hidden-ul" [style.display]="active[1] ? 'block' : 'none'">
							<li><a href="javascript:void(0);">看房记录</a></li>
							<li><a href="javascript:void(0);">预约看房</a></li>
							<li class="navigation-divider"></li>
							<li><a href="javascript:void(0);">租客合同</a></li>
							<li><a href="javascript:void(0);">租金账单</a></li>
						</ul>
					</li>
					<li (click)="active[2]=!active[2]" [class.active]="active[2]">
						<a href="javascript:void(0);" class="has-ul"><i class="fa fa-fw fa-home"></i> <span>会员管理</span></a>
						<ul class="hidden-ul" [style.display]="active[2] ? 'block' : 'none'">
							<li><a href="javascript:void(0);">会员</a></li>
							<li class="navigation-divider"></li>
							<li><a href="javascript:void(0);">报修</a></li>
							<li><a href="javascript:void(0);">投诉</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>