<div class="container">
	<form class="bg-faded m-x-auto m-t-3 p-t-1 p-r-2 p-b-2 p-l-2" style="width: 45%;">
		<h2 class="text-xs-center">登陆</h2>

		<fieldset class="form-group">
			<label>账号：</label>
			<input type="text" class="form-control" required placeholder="账号" />
		</fieldset>

		<fieldset class="form-group">
			<label>密码：</label>
			<input type="password" class="form-control" required placeholder="密码" />
		</fieldset>
		
		<fieldset class="form-group">
			<label>验证码：</label>
			<div class="row">
				<div class="col-sm-12 col-md-4">
					图片
				</div>
				<div class="col-sm-12 col-md-8">
					<input type="password" class="form-control" placeholder="验证码" />
				</div>
			</div>
		</fieldset>

		<button class="btn btn-primary btn-block" (click)="login()"  *ngIf="!authService.isLoggedIn">登陆</button>
		<!--<button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>-->
	</form>
</div>