/* ------------------------------------------------------------------------------
 *
 *  # Login and related forms
 *
 *  Styles related to user login - logins, registration, password revovery, unlock etc.
 *
 *  Version: 1.0
 *  Latest update: May 25, 2015
 *
 * ---------------------------------------------------------------------------- */

.login-container {
	min-height: 100%;
}

.login-cover {
	background: url("assets/images/login_cover.jpg") no-repeat;
	background-size: cover;
}

.login-container .page-container {
	padding-top: 40px;
	position: static
}

.login-container .page-container .login-form {
	width: 320px
}

.login-container .page-container .login-form,
.login-container .page-container .login-form .thumb,
.login-container .page-container .registration-form {
	margin: 0 auto 20px
}

@media (max-width: 480px) {
	.login-container .page-container .login-form,
	.login-container .page-container .registration-form {
		width: 100%
	}
}

.login-container .page-container .nav-tabs.nav-justified {
	margin-bottom: 0
}

.login-container .page-container .nav-tabs.nav-justified>li>a {
	border-top: 0!important;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #f5f5f5
}

.login-container .page-container .nav-tabs.nav-justified>li:first-child>a {
	border-left: 0;
	border-radius: 3px 0 0
}

.login-container .page-container .nav-tabs.nav-justified>li:last-child>a {
	border-right: 0;
	border-radius: 0 3px 0 0
}

.login-container .page-container .nav-tabs.nav-justified>li.active>a {
	background-color: transparent
}

@media (max-width: 768px) {
	.login-container .page-container .nav-tabs.nav-justified {
		padding: 0;
		border-width: 0 0 1px;
		border-radius: 0
	}
	.login-container .page-container .nav-tabs.nav-justified:before {
		content: none
	}
	.login-container .page-container .nav-tabs.nav-justified>li>a {
		border-width: 0!important
	}
	.login-options,
	.login-options .text-right {
		text-align: center
	}
}

.login-container .footer {
	left: 0;
	right: 0
}