/* ------------------------------------------------------------------------------
*
*  # Main content layout
*
*  Styles for main structure of content area
*
*  Version: 1.0
*  Latest update: May 25, 2015
*
* ---------------------------------------------------------------------------- */

.page-container {
	position: relative;
}

@media (min-width: 769px) {
	.page-container {
		width: 100%;
		display: table;
		table-layout: fixed;
	}
}

@-moz-document url-prefix() {
	.page-container {
		height: 1px;
	}
}

@media (min-width: 769px) {
	.page-content {
		display: table-row;
	}
}

.content-wrapper {
	padding-bottom: 20px;
	width: 100%;
}

@media (min-width: 769px) {
	.content-wrapper {
		display: table-cell;
		vertical-align: top;
	}
}

.content {
	padding: 20px 20px;
}

.content:after {
	content: '';
	display: table;
	clear: both;
}

.page-header + .content {
	padding-top: 0;
}