<table class="table table-sm table-bordered table-hover">
	<colgroup>
		<col width="5%" />
		<col width="10%" />
		<col width="15%" />
		<col width="10%" />
		<col width="20%" />
		<col width="10%" />
		<col width="10%" />
		<col width="10%" />
	</colgroup>
	<thead class="thead-inverse">
		<tr>
			<th class="text-sm-center align-middle">#</th>
			<th class="text-sm-center align-middle">编号</th>
			<th class="text-sm-center align-middle">标题</th>
			<th class="text-sm-center align-middle">区域</th>
			<th class="text-sm-center align-middle">街道</th>
			<th class="text-sm-center align-middle">总面积</th>
			<th class="text-sm-center align-middle">发布时间</th>
			<th class="text-sm-center align-middle">操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="text-sm-center align-middle"><button type="sbumit" class="btn btn-success btn-sm" (click)="getAll()">全部</button></td>
			<td><input type="text" class="form-control form-control-sm" placeholder="编号" [(ngModel)]="filters.number" /></td>
			<td><input type="text" class="form-control form-control-sm" placeholder="标题" [(ngModel)]="filters.title" /></td>
			<td>&nbsp;</td>
			<td><input type="text" class="form-control form-control-sm" placeholder="街道" [(ngModel)]="filters.street" /></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><button type="sbumit" class="btn btn-primary btn-sm" (click)="onFilter()">搜索</button></td>
		</tr>
		<tr *ngFor="let item of data.items; let i=index">
			<th class="text-sm-center align-middle" scope="row">{{ i + 1 }}</th>
			<th class="text-sm-center align-middle">{{ item.number }}</th>
			<th class="text-sm-center align-middle">{{ item.title }}</th>
			<th class="text-sm-center align-middle">{{ item.district }}</th>
			<th class="text-sm-center align-middle">{{ item.street }}</th>
			<th class="text-sm-center align-middle">{{ item.gross_area }}</th>
			<th class="text-sm-center align-middle">{{ item.newstime }}</th>
			<th><button type="button" class="btn btn-sm btn-outline-primary">查看</button></th>
		</tr>
	</tbody>
</table>
<div class="text-sm-center">当前:{{ data.current }}页&nbsp;/&nbsp;总共{{ data.total_pages }}页&nbsp;|&nbsp;每页:{{ data.limit }}条&nbsp;/&nbsp;总共{{ data.total_items }}条</div>
<t-pagination class="col-sm-12 text-sm-center" [config]="pageConfig" (pageChanged)="pageChanged($event)"></t-pagination>