.bg-primary {
	background-color: #2196F3;
	border-color: #2196F3;
	color: #fff
}

.bg-primary-3 {
	background-color: #64B5F6;
	border-color: #64B5F6;
	color: #fff
}

.bg-primary-4 {
	background-color: #42A5F5;
	border-color: #42A5F5;
	color: #fff
}

.bg-primary-6 {
	background-color: #1E88E5;
	border-color: #1E88E5;
	color: #fff
}

.bg-primary-7 {
	background-color: #1976D2;
	border-color: #1976D2;
	color: #fff
}

.bg-primary-8 {
	background-color: #1565C0;
	border-color: #1565C0;
	color: #fff
}

.bg-danger {
	background-color: #F44336;
	border-color: #F44336;
	color: #fff
}

.bg-danger-3 {
	background-color: #E57373;
	border-color: #E57373;
	color: #fff
}

.bg-danger-4 {
	background-color: #EF5350;
	border-color: #EF5350;
	color: #fff
}

.bg-danger-6 {
	background-color: #E53935;
	border-color: #E53935;
	color: #fff
}

.bg-danger-7 {
	background-color: #D32F2F;
	border-color: #D32F2F;
	color: #fff
}

.bg-danger-8 {
	background-color: #C62828;
	border-color: #C62828;
	color: #fff
}

.bg-success {
	background-color: #4CAF50;
	border-color: #4CAF50;
	color: #fff
}

.bg-success-3 {
	background-color: #81C784;
	border-color: #81C784;
	color: #fff
}

.bg-success-4 {
	background-color: #66BB6A;
	border-color: #66BB6A;
	color: #fff
}

.bg-success-6 {
	background-color: #43A047;
	border-color: #43A047;
	color: #fff
}

.bg-success-7 {
	background-color: #388E3C;
	border-color: #388E3C;
	color: #fff
}

.bg-success-8 {
	background-color: #2E7D32;
	border-color: #2E7D32;
	color: #fff
}

.bg-warning {
	background-color: #FF5722;
	border-color: #FF5722;
	color: #fff
}

.bg-warning-3 {
	background-color: #FF8A65;
	border-color: #FF8A65;
	color: #fff
}

.bg-warning-4 {
	background-color: #FF7043;
	border-color: #FF7043;
	color: #fff
}

.bg-warning-6 {
	background-color: #F4511E;
	border-color: #F4511E;
	color: #fff
}

.bg-warning-7 {
	background-color: #E64A19;
	border-color: #E64A19;
	color: #fff
}

.bg-warning-8 {
	background-color: #D84315;
	border-color: #D84315;
	color: #fff
}

.bg-info {
	background-color: #00BCD4;
	border-color: #00BCD4;
	color: #fff
}

.bg-info-3 {
	background-color: #4DD0E1;
	border-color: #4DD0E1;
	color: #fff
}

.bg-info-4 {
	background-color: #26C6DA;
	border-color: #26C6DA;
	color: #fff
}

.bg-info-6 {
	background-color: #00ACC1;
	border-color: #00ACC1;
	color: #fff
}

.bg-info-7 {
	background-color: #0097A7;
	border-color: #0097A7;
	color: #fff
}

.bg-info-8 {
	background-color: #00838F;
	border-color: #00838F;
	color: #fff
}

.bg-pink {
	background-color: #E91E63;
	border-color: #E91E63;
	color: #fff
}

.bg-pink-3 {
	background-color: #F06292;
	border-color: #F06292;
	color: #fff
}

.bg-pink-4 {
	background-color: #EC407A;
	border-color: #EC407A;
	color: #fff
}

.bg-pink-6 {
	background-color: #D81B60;
	border-color: #D81B60;
	color: #fff
}

.bg-pink-7 {
	background-color: #C2185B;
	border-color: #C2185B;
	color: #fff
}

.bg-pink-8 {
	background-color: #AD1457;
	border-color: #AD1457;
	color: #fff
}

.bg-violet {
	background-color: #9C27B0;
	border-color: #9C27B0;
	color: #fff
}

.bg-violet-3 {
	background-color: #BA68C8;
	border-color: #BA68C8;
	color: #fff
}

.bg-violet-4 {
	background-color: #AB47BC;
	border-color: #AB47BC;
	color: #fff
}

.bg-violet-6 {
	background-color: #8E24AA;
	border-color: #8E24AA;
	color: #fff
}

.bg-violet-7 {
	background-color: #7B1FA2;
	border-color: #7B1FA2;
	color: #fff
}

.bg-violet-8 {
	background-color: #6A1B9A;
	border-color: #6A1B9A;
	color: #fff
}

.bg-purple {
	background-color: #673AB7;
	border-color: #673AB7;
	color: #fff
}

.bg-purple-3 {
	background-color: #9575CD;
	border-color: #9575CD;
	color: #fff
}

.bg-purple-4 {
	background-color: #7E57C2;
	border-color: #7E57C2;
	color: #fff
}

.bg-purple-6 {
	background-color: #5E35B1;
	border-color: #5E35B1;
	color: #fff
}

.bg-purple-7 {
	background-color: #512DA8;
	border-color: #512DA8;
	color: #fff
}

.bg-purple-8 {
	background-color: #4527A0;
	border-color: #4527A0;
	color: #fff
}

.bg-indigo {
	background-color: #3F51B5;
	border-color: #3F51B5;
	color: #fff
}

.bg-indigo-3 {
	background-color: #7986CB;
	border-color: #7986CB;
	color: #fff
}

.bg-indigo-4 {
	background-color: #5C6BC0;
	border-color: #5C6BC0;
	color: #fff
}

.bg-indigo-6 {
	background-color: #3949AB;
	border-color: #3949AB;
	color: #fff
}

.bg-indigo-7 {
	background-color: #303F9F;
	border-color: #303F9F;
	color: #fff
}

.bg-indigo-8 {
	background-color: #283593;
	border-color: #283593;
	color: #fff
}

.bg-blue {
	background-color: #03A9F4;
	border-color: #03A9F4;
	color: #fff
}

.bg-blue-3 {
	background-color: #4FC3F7;
	border-color: #4FC3F7;
	color: #fff
}

.bg-blue-4 {
	background-color: #29B6F6;
	border-color: #29B6F6;
	color: #fff
}

.bg-blue-6 {
	background-color: #039BE5;
	border-color: #039BE5;
	color: #fff
}

.bg-blue-7 {
	background-color: #0288D1;
	border-color: #0288D1;
	color: #fff
}

.bg-blue-8 {
	background-color: #0277BD;
	border-color: #0277BD;
	color: #fff
}

.bg-teal {
	background-color: #009688;
	border-color: #009688;
	color: #fff
}

.bg-teal-3 {
	background-color: #4DB6AC;
	border-color: #4DB6AC;
	color: #fff
}

.bg-teal-4 {
	background-color: #26A69A;
	border-color: #26A69A;
	color: #fff
}

.bg-teal-6 {
	background-color: #00897B;
	border-color: #00897B;
	color: #fff
}

.bg-teal-7 {
	background-color: #00796B;
	border-color: #00796B;
	color: #fff
}

.bg-teal-8 {
	background-color: #00695C;
	border-color: #00695C;
	color: #fff
}

.bg-green {
	background-color: #8BC34A;
	border-color: #8BC34A;
	color: #fff
}

.bg-green-3 {
	background-color: #AED581;
	border-color: #AED581;
	color: #fff
}

.bg-green-4 {
	background-color: #9CCC65;
	border-color: #9CCC65;
	color: #fff
}

.bg-green-6 {
	background-color: #7CB342;
	border-color: #7CB342;
	color: #fff
}

.bg-green-7 {
	background-color: #689F38;
	border-color: #689F38;
	color: #fff
}

.bg-green-8 {
	background-color: #558B2F;
	border-color: #558B2F;
	color: #fff
}

.bg-orange {
	background-color: #FF9800;
	border-color: #FF9800;
	color: #fff
}

.bg-orange-3 {
	background-color: #FFB74D;
	border-color: #FFB74D;
	color: #fff
}

.bg-orange-4 {
	background-color: #FFA726;
	border-color: #FFA726;
	color: #fff
}

.bg-orange-6 {
	background-color: #FB8C00;
	border-color: #FB8C00;
	color: #fff
}

.bg-orange-7 {
	background-color: #F57C00;
	border-color: #F57C00;
	color: #fff
}

.bg-orange-8 {
	background-color: #EF6C00;
	border-color: #EF6C00;
	color: #fff
}

.bg-brown {
	background-color: #795548;
	border-color: #795548;
	color: #fff
}

.bg-brown-3 {
	background-color: #A1887F;
	border-color: #A1887F;
	color: #fff
}

.bg-brown-4 {
	background-color: #8D6E63;
	border-color: #8D6E63;
	color: #fff
}

.bg-brown-6 {
	background-color: #6D4C41;
	border-color: #6D4C41;
	color: #fff
}

.bg-brown-7 {
	background-color: #5D4037;
	border-color: #5D4037;
	color: #fff
}

.bg-brown-8 {
	background-color: #4E342E;
	border-color: #4E342E;
	color: #fff
}

.bg-grey {
	background-color: #777;
	border-color: #777;
	color: #fff
}

.bg-grey-3 {
	background-color: #999;
	border-color: #999;
	color: #fff
}

.bg-grey-4 {
	background-color: #888;
	border-color: #888;
	color: #fff
}

.bg-grey-6 {
	background-color: #666;
	border-color: #666;
	color: #fff
}

.bg-grey-7 {
	background-color: #555;
	border-color: #555;
	color: #fff
}

.bg-grey-8 {
	background-color: #444;
	border-color: #444;
	color: #fff
}

.bg-slate {
	background-color: #607D8B;
	border-color: #607D8B;
	color: #fff
}

.bg-slate-3 {
	background-color: #90A4AE;
	border-color: #90A4AE;
	color: #fff
}

.bg-slate-4 {
	background-color: #78909C;
	border-color: #78909C;
	color: #fff
}

.bg-slate-6 {
	background-color: #546E7A;
	border-color: #546E7A;
	color: #fff
}

.bg-slate-7 {
	background-color: #455A64;
	border-color: #455A64;
	color: #fff
}

.bg-slate-8 {
	background-color: #37474F;
	border-color: #37474F;
	color: #fff
}

.bg-white {
	background-color: #fff;
	color: #333
}

.alpha-primary {
	background-color: #E3F2FD;
	border-color: #1E88E5
}

.alpha-danger {
	background-color: #FFEBEE;
	border-color: #E53935
}

.alpha-success {
	background-color: #E8F5E9;
	border-color: #43A047
}

.alpha-warning {
	background-color: #FBE9E7;
	border-color: #F4511E
}

.alpha-info {
	background-color: #E0F7FA;
	border-color: #00ACC1
}

.alpha-pink {
	background-color: #FCE4EC;
	border-color: #D81B60
}

.alpha-violet {
	background-color: #F3E5F5;
	border-color: #8E24AA
}

.alpha-purple {
	background-color: #EDE7F6;
	border-color: #5E35B1
}

.alpha-indigo {
	background-color: #E8EAF6;
	border-color: #3949AB
}

.alpha-blue {
	background-color: #E1F5FE;
	border-color: #039BE5
}

.alpha-teal {
	background-color: #E0F2F1;
	border-color: #00897B
}

.alpha-green {
	background-color: #F1F8E9;
	border-color: #7CB342
}

.alpha-orange {
	background-color: #FFF3E0;
	border-color: #FB8C00
}

.alpha-brown {
	background-color: #EFEBE9;
	border-color: #6D4C41
}

.alpha-grey {
	background-color: #FAFAFA;
	border-color: #666
}

.alpha-slate {
	background-color: #ECEFF1;
	border-color: #546E7A
}

.b-primary {
	border-color: #2196F3
}

.b-primary-3 {
	border-color: #64B5F6
}

.b-primary-4 {
	border-color: #42A5F5
}

.b-primary-6 {
	border-color: #1E88E5
}

.b-primary-7 {
	border-color: #1976D2
}

.b-primary-8 {
	border-color: #1565C0
}

.b-danger {
	border-color: #F44336
}

.b-danger-3 {
	border-color: #E57373
}

.b-danger-4 {
	border-color: #EF5350
}

.b-danger-6 {
	border-color: #E53935
}

.b-danger-7 {
	border-color: #D32F2F
}

.b-danger-8 {
	border-color: #C62828
}

.b-success {
	border-color: #4CAF50
}

.b-success-3 {
	border-color: #81C784
}

.b-success-4 {
	border-color: #66BB6A
}

.b-success-6 {
	border-color: #43A047
}

.b-success-7 {
	border-color: #388E3C
}

.b-success-8 {
	border-color: #2E7D32
}

.b-warning {
	border-color: #FF5722
}

.b-warning-3 {
	border-color: #FF8A65
}

.b-warning-4 {
	border-color: #FF7043
}

.b-warning-6 {
	border-color: #F4511E
}

.b-warning-7 {
	border-color: #E64A19
}

.b-warning-8 {
	border-color: #D84315
}

.b-info {
	border-color: #00BCD4
}

.b-info-3 {
	border-color: #4DD0E1
}

.b-info-4 {
	border-color: #26C6DA
}

.b-info-6 {
	border-color: #00ACC1
}

.b-info-7 {
	border-color: #0097A7
}

.b-info-8 {
	border-color: #00838F
}

.b-pink {
	border-color: #E91E63
}

.b-pink-3 {
	border-color: #F06292
}

.b-pink-4 {
	border-color: #EC407A
}

.b-pink-6 {
	border-color: #D81B60
}

.b-pink-7 {
	border-color: #C2185B
}

.b-pink-8 {
	border-color: #AD1457
}

.b-violet {
	border-color: #9C27B0
}

.b-violet-3 {
	border-color: #BA68C8
}

.b-violet-4 {
	border-color: #AB47BC
}

.b-violet-6 {
	border-color: #8E24AA
}

.b-violet-7 {
	border-color: #7B1FA2
}

.b-violet-8 {
	border-color: #6A1B9A
}

.b-purple {
	border-color: #673AB7
}

.b-purple-3 {
	border-color: #9575CD
}

.b-purple-4 {
	border-color: #7E57C2
}

.b-purple-6 {
	border-color: #5E35B1
}

.b-purple-7 {
	border-color: #512DA8
}

.b-purple-8 {
	border-color: #4527A0
}

.b-indigo {
	border-color: #3F51B5
}

.b-indigo-3 {
	border-color: #7986CB
}

.b-indigo-4 {
	border-color: #5C6BC0
}

.b-indigo-6 {
	border-color: #3949AB
}

.b-indigo-7 {
	border-color: #303F9F
}

.b-indigo-8 {
	border-color: #283593
}

.b-blue {
	border-color: #03A9F4
}

.b-blue-3 {
	border-color: #4FC3F7
}

.b-blue-4 {
	border-color: #29B6F6
}

.b-blue-6 {
	border-color: #039BE5
}

.b-blue-7 {
	border-color: #0288D1
}

.b-blue-8 {
	border-color: #0277BD
}

.b-teal {
	border-color: #009688
}

.b-teal-3 {
	border-color: #4DB6AC
}

.b-teal-4 {
	border-color: #26A69A
}

.b-teal-6 {
	border-color: #00897B
}

.b-teal-7 {
	border-color: #00796B
}

.b-teal-8 {
	border-color: #00695C
}

.b-green {
	border-color: #8BC34A
}

.b-green-3 {
	border-color: #AED581
}

.b-green-4 {
	border-color: #9CCC65
}

.b-green-6 {
	border-color: #7CB342
}

.b-green-7 {
	border-color: #689F38
}

.b-green-8 {
	border-color: #558B2F
}

.b-orange {
	border-color: #FF9800
}

.b-orange-3 {
	border-color: #FFB74D
}

.b-orange-4 {
	border-color: #FFA726
}

.b-orange-6 {
	border-color: #FB8C00
}

.b-orange-7 {
	border-color: #F57C00
}

.b-orange-8 {
	border-color: #EF6C00
}

.b-brown {
	border-color: #795548
}

.b-brown-3 {
	border-color: #A1887F
}

.b-brown-4 {
	border-color: #8D6E63
}

.b-brown-6 {
	border-color: #6D4C41
}

.b-brown-7 {
	border-color: #5D4037
}

.b-brown-8 {
	border-color: #4E342E
}

.b-grey {
	border-color: #777
}

.b-grey-3 {
	border-color: #999
}

.b-grey-4 {
	border-color: #888
}

.b-grey-6 {
	border-color: #666
}

.b-grey-7 {
	border-color: #555
}

.b-grey-8 {
	border-color: #444
}

.b-slate {
	border-color: #607D8B
}

.b-slate-3 {
	border-color: #90A4AE
}

.b-slate-4 {
	border-color: #78909C
}

.b-slate-6 {
	border-color: #546E7A
}

.b-slate-7 {
	border-color: #455A64
}

.b-slate-8 {
	border-color: #37474F
}

.b-white {
	border-color: #fff
}

.b-default {
	border-color: #ddd
}

.b-t-primary {
	border-top-color: #2196F3
}

.b-t-primary-3 {
	border-top-color: #64B5F6
}

.b-t-primary-4 {
	border-top-color: #42A5F5
}

.b-t-primary-6 {
	border-top-color: #1E88E5
}

.b-t-primary-7 {
	border-top-color: #1976D2
}

.b-t-primary-8 {
	border-top-color: #1565C0
}

.b-t-danger {
	border-top-color: #F44336
}

.b-t-danger-3 {
	border-top-color: #E57373
}

.b-t-danger-4 {
	border-top-color: #EF5350
}

.b-t-danger-6 {
	border-top-color: #E53935
}

.b-t-danger-7 {
	border-top-color: #D32F2F
}

.b-t-danger-8 {
	border-top-color: #C62828
}

.b-t-success {
	border-top-color: #4CAF50
}

.b-t-success-3 {
	border-top-color: #81C784
}

.b-t-success-4 {
	border-top-color: #66BB6A
}

.b-t-success-6 {
	border-top-color: #43A047
}

.b-t-success-7 {
	border-top-color: #388E3C
}

.b-t-success-8 {
	border-top-color: #2E7D32
}

.b-t-warning {
	border-top-color: #FF5722
}

.b-t-warning-3 {
	border-top-color: #FF8A65
}

.b-t-warning-4 {
	border-top-color: #FF7043
}

.b-t-warning-6 {
	border-top-color: #F4511E
}

.b-t-warning-7 {
	border-top-color: #E64A19
}

.b-t-warning-8 {
	border-top-color: #D84315
}

.b-t-info {
	border-top-color: #00BCD4
}

.b-t-info-3 {
	border-top-color: #4DD0E1
}

.b-t-info-4 {
	border-top-color: #26C6DA
}

.b-t-info-6 {
	border-top-color: #00ACC1
}

.b-t-info-7 {
	border-top-color: #0097A7
}

.b-t-info-8 {
	border-top-color: #00838F
}

.b-t-pink {
	border-top-color: #E91E63
}

.b-t-pink-3 {
	border-top-color: #F06292
}

.b-t-pink-4 {
	border-top-color: #EC407A
}

.b-t-pink-6 {
	border-top-color: #D81B60
}

.b-t-pink-7 {
	border-top-color: #C2185B
}

.b-t-pink-8 {
	border-top-color: #AD1457
}

.b-t-violet {
	border-top-color: #9C27B0
}

.b-t-violet-3 {
	border-top-color: #BA68C8
}

.b-t-violet-4 {
	border-top-color: #AB47BC
}

.b-t-violet-6 {
	border-top-color: #8E24AA
}

.b-t-violet-7 {
	border-top-color: #7B1FA2
}

.b-t-violet-8 {
	border-top-color: #6A1B9A
}

.b-t-purple {
	border-top-color: #673AB7
}

.b-t-purple-3 {
	border-top-color: #9575CD
}

.b-t-purple-4 {
	border-top-color: #7E57C2
}

.b-t-purple-6 {
	border-top-color: #5E35B1
}

.b-t-purple-7 {
	border-top-color: #512DA8
}

.b-t-purple-8 {
	border-top-color: #4527A0
}

.b-t-indigo {
	border-top-color: #3F51B5
}

.b-t-indigo-3 {
	border-top-color: #7986CB
}

.b-t-indigo-4 {
	border-top-color: #5C6BC0
}

.b-t-indigo-6 {
	border-top-color: #3949AB
}

.b-t-indigo-7 {
	border-top-color: #303F9F
}

.b-t-indigo-8 {
	border-top-color: #283593
}

.b-t-blue {
	border-top-color: #03A9F4
}

.b-t-blue-3 {
	border-top-color: #4FC3F7
}

.b-t-blue-4 {
	border-top-color: #29B6F6
}

.b-t-blue-6 {
	border-top-color: #039BE5
}

.b-t-blue-7 {
	border-top-color: #0288D1
}

.b-t-blue-8 {
	border-top-color: #0277BD
}

.b-t-teal {
	border-top-color: #009688
}

.b-t-teal-3 {
	border-top-color: #4DB6AC
}

.b-t-teal-4 {
	border-top-color: #26A69A
}

.b-t-teal-6 {
	border-top-color: #00897B
}

.b-t-teal-7 {
	border-top-color: #00796B
}

.b-t-teal-8 {
	border-top-color: #00695C
}

.b-t-green {
	border-top-color: #8BC34A
}

.b-t-green-3 {
	border-top-color: #AED581
}

.b-t-green-4 {
	border-top-color: #9CCC65
}

.b-t-green-6 {
	border-top-color: #7CB342
}

.b-t-green-7 {
	border-top-color: #689F38
}

.b-t-green-8 {
	border-top-color: #558B2F
}

.b-t-orange {
	border-top-color: #FF9800
}

.b-t-orange-3 {
	border-top-color: #FFB74D
}

.b-t-orange-4 {
	border-top-color: #FFA726
}

.b-t-orange-6 {
	border-top-color: #FB8C00
}

.b-t-orange-7 {
	border-top-color: #F57C00
}

.b-t-orange-8 {
	border-top-color: #EF6C00
}

.b-t-brown {
	border-top-color: #795548
}

.b-t-brown-3 {
	border-top-color: #A1887F
}

.b-t-brown-4 {
	border-top-color: #8D6E63
}

.b-t-brown-6 {
	border-top-color: #6D4C41
}

.b-t-brown-7 {
	border-top-color: #5D4037
}

.b-t-brown-8 {
	border-top-color: #4E342E
}

.b-t-grey {
	border-top-color: #777
}

.b-t-grey-3 {
	border-top-color: #999
}

.b-t-grey-4 {
	border-top-color: #888
}

.b-t-grey-6 {
	border-top-color: #666
}

.b-t-grey-7 {
	border-top-color: #555
}

.b-t-grey-8 {
	border-top-color: #444
}

.b-t-slate {
	border-top-color: #607D8B
}

.b-t-slate-3 {
	border-top-color: #90A4AE
}

.b-t-slate-4 {
	border-top-color: #78909C
}

.b-t-slate-6 {
	border-top-color: #546E7A
}

.b-t-slate-7 {
	border-top-color: #455A64
}

.b-t-slate-8 {
	border-top-color: #37474F
}

.b-t-white {
	border-top-color: #fff
}

.b-b-primary {
	border-bottom-color: #2196F3
}

.b-b-primary-3 {
	border-bottom-color: #64B5F6
}

.b-b-primary-4 {
	border-bottom-color: #42A5F5
}

.b-b-primary-6 {
	border-bottom-color: #1E88E5
}

.b-b-primary-7 {
	border-bottom-color: #1976D2
}

.b-b-primary-8 {
	border-bottom-color: #1565C0
}

.b-b-danger {
	border-bottom-color: #F44336
}

.b-b-danger-3 {
	border-bottom-color: #E57373
}

.b-b-danger-4 {
	border-bottom-color: #EF5350
}

.b-b-danger-6 {
	border-bottom-color: #E53935
}

.b-b-danger-7 {
	border-bottom-color: #D32F2F
}

.b-b-danger-8 {
	border-bottom-color: #C62828
}

.b-b-success {
	border-bottom-color: #4CAF50
}

.b-b-success-3 {
	border-bottom-color: #81C784
}

.b-b-success-4 {
	border-bottom-color: #66BB6A
}

.b-b-success-6 {
	border-bottom-color: #43A047
}

.b-b-success-7 {
	border-bottom-color: #388E3C
}

.b-b-success-8 {
	border-bottom-color: #2E7D32
}

.b-b-warning {
	border-bottom-color: #FF5722
}

.b-b-warning-3 {
	border-bottom-color: #FF8A65
}

.b-b-warning-4 {
	border-bottom-color: #FF7043
}

.b-b-warning-6 {
	border-bottom-color: #F4511E
}

.b-b-warning-7 {
	border-bottom-color: #E64A19
}

.b-b-warning-8 {
	border-bottom-color: #D84315
}

.b-b-info {
	border-bottom-color: #00BCD4
}

.b-b-info-3 {
	border-bottom-color: #4DD0E1
}

.b-b-info-4 {
	border-bottom-color: #26C6DA
}

.b-b-info-6 {
	border-bottom-color: #00ACC1
}

.b-b-info-7 {
	border-bottom-color: #0097A7
}

.b-b-info-8 {
	border-bottom-color: #00838F
}

.b-b-pink {
	border-bottom-color: #E91E63
}

.b-b-pink-3 {
	border-bottom-color: #F06292
}

.b-b-pink-4 {
	border-bottom-color: #EC407A
}

.b-b-pink-6 {
	border-bottom-color: #D81B60
}

.b-b-pink-7 {
	border-bottom-color: #C2185B
}

.b-b-pink-8 {
	border-bottom-color: #AD1457
}

.b-b-violet {
	border-bottom-color: #9C27B0
}

.b-b-violet-3 {
	border-bottom-color: #BA68C8
}

.b-b-violet-4 {
	border-bottom-color: #AB47BC
}

.b-b-violet-6 {
	border-bottom-color: #8E24AA
}

.b-b-violet-7 {
	border-bottom-color: #7B1FA2
}

.b-b-violet-8 {
	border-bottom-color: #6A1B9A
}

.b-b-purple {
	border-bottom-color: #673AB7
}

.b-b-purple-3 {
	border-bottom-color: #9575CD
}

.b-b-purple-4 {
	border-bottom-color: #7E57C2
}

.b-b-purple-6 {
	border-bottom-color: #5E35B1
}

.b-b-purple-7 {
	border-bottom-color: #512DA8
}

.b-b-purple-8 {
	border-bottom-color: #4527A0
}

.b-b-indigo {
	border-bottom-color: #3F51B5
}

.b-b-indigo-3 {
	border-bottom-color: #7986CB
}

.b-b-indigo-4 {
	border-bottom-color: #5C6BC0
}

.b-b-indigo-6 {
	border-bottom-color: #3949AB
}

.b-b-indigo-7 {
	border-bottom-color: #303F9F
}

.b-b-indigo-8 {
	border-bottom-color: #283593
}

.b-b-blue {
	border-bottom-color: #03A9F4
}

.b-b-blue-3 {
	border-bottom-color: #4FC3F7
}

.b-b-blue-4 {
	border-bottom-color: #29B6F6
}

.b-b-blue-6 {
	border-bottom-color: #039BE5
}

.b-b-blue-7 {
	border-bottom-color: #0288D1
}

.b-b-blue-8 {
	border-bottom-color: #0277BD
}

.b-b-teal {
	border-bottom-color: #009688
}

.b-b-teal-3 {
	border-bottom-color: #4DB6AC
}

.b-b-teal-4 {
	border-bottom-color: #26A69A
}

.b-b-teal-6 {
	border-bottom-color: #00897B
}

.b-b-teal-7 {
	border-bottom-color: #00796B
}

.b-b-teal-8 {
	border-bottom-color: #00695C
}

.b-b-green {
	border-bottom-color: #8BC34A
}

.b-b-green-3 {
	border-bottom-color: #AED581
}

.b-b-green-4 {
	border-bottom-color: #9CCC65
}

.b-b-green-6 {
	border-bottom-color: #7CB342
}

.b-b-green-7 {
	border-bottom-color: #689F38
}

.b-b-green-8 {
	border-bottom-color: #558B2F
}

.b-b-orange {
	border-bottom-color: #FF9800
}

.b-b-orange-3 {
	border-bottom-color: #FFB74D
}

.b-b-orange-4 {
	border-bottom-color: #FFA726
}

.b-b-orange-6 {
	border-bottom-color: #FB8C00
}

.b-b-orange-7 {
	border-bottom-color: #F57C00
}

.b-b-orange-8 {
	border-bottom-color: #EF6C00
}

.b-b-brown {
	border-bottom-color: #795548
}

.b-b-brown-3 {
	border-bottom-color: #A1887F
}

.b-b-brown-4 {
	border-bottom-color: #8D6E63
}

.b-b-brown-6 {
	border-bottom-color: #6D4C41
}

.b-b-brown-7 {
	border-bottom-color: #5D4037
}

.b-b-brown-8 {
	border-bottom-color: #4E342E
}

.b-b-grey {
	border-bottom-color: #777
}

.b-b-grey-3 {
	border-bottom-color: #999
}

.b-b-grey-4 {
	border-bottom-color: #888
}

.b-b-grey-6 {
	border-bottom-color: #666
}

.b-b-grey-7 {
	border-bottom-color: #555
}

.b-b-grey-8 {
	border-bottom-color: #444
}

.b-b-slate {
	border-bottom-color: #607D8B
}

.b-b-slate-3 {
	border-bottom-color: #90A4AE
}

.b-b-slate-4 {
	border-bottom-color: #78909C
}

.b-b-slate-6 {
	border-bottom-color: #546E7A
}

.b-b-slate-7 {
	border-bottom-color: #455A64
}

.b-b-slate-8 {
	border-bottom-color: #37474F
}

.b-b-white {
	border-bottom-color: #fff
}

.b-l-primary {
	border-left-color: #2196F3
}

.b-l-primary-3 {
	border-left-color: #64B5F6
}

.b-l-primary-4 {
	border-left-color: #42A5F5
}

.b-l-primary-6 {
	border-left-color: #1E88E5
}

.b-l-primary-7 {
	border-left-color: #1976D2
}

.b-l-primary-8 {
	border-left-color: #1565C0
}

.b-l-danger {
	border-left-color: #F44336
}

.b-l-danger-3 {
	border-left-color: #E57373
}

.b-l-danger-4 {
	border-left-color: #EF5350
}

.b-l-danger-6 {
	border-left-color: #E53935
}

.b-l-danger-7 {
	border-left-color: #D32F2F
}

.b-l-danger-8 {
	border-left-color: #C62828
}

.b-l-success {
	border-left-color: #4CAF50
}

.b-l-success-3 {
	border-left-color: #81C784
}

.b-l-success-4 {
	border-left-color: #66BB6A
}

.b-l-success-6 {
	border-left-color: #43A047
}

.b-l-success-7 {
	border-left-color: #388E3C
}

.b-l-success-8 {
	border-left-color: #2E7D32
}

.b-l-warning {
	border-left-color: #FF5722
}

.b-l-warning-3 {
	border-left-color: #FF8A65
}

.b-l-warning-4 {
	border-left-color: #FF7043
}

.b-l-warning-6 {
	border-left-color: #F4511E
}

.b-l-warning-7 {
	border-left-color: #E64A19
}

.b-l-warning-8 {
	border-left-color: #D84315
}

.b-l-info {
	border-left-color: #00BCD4
}

.b-l-info-3 {
	border-left-color: #4DD0E1
}

.b-l-info-4 {
	border-left-color: #26C6DA
}

.b-l-info-6 {
	border-left-color: #00ACC1
}

.b-l-info-7 {
	border-left-color: #0097A7
}

.b-l-info-8 {
	border-left-color: #00838F
}

.b-l-pink {
	border-left-color: #E91E63
}

.b-l-pink-3 {
	border-left-color: #F06292
}

.b-l-pink-4 {
	border-left-color: #EC407A
}

.b-l-pink-6 {
	border-left-color: #D81B60
}

.b-l-pink-7 {
	border-left-color: #C2185B
}

.b-l-pink-8 {
	border-left-color: #AD1457
}

.b-l-violet {
	border-left-color: #9C27B0
}

.b-l-violet-3 {
	border-left-color: #BA68C8
}

.b-l-violet-4 {
	border-left-color: #AB47BC
}

.b-l-violet-6 {
	border-left-color: #8E24AA
}

.b-l-violet-7 {
	border-left-color: #7B1FA2
}

.b-l-violet-8 {
	border-left-color: #6A1B9A
}

.b-l-purple {
	border-left-color: #673AB7
}

.b-l-purple-3 {
	border-left-color: #9575CD
}

.b-l-purple-4 {
	border-left-color: #7E57C2
}

.b-l-purple-6 {
	border-left-color: #5E35B1
}

.b-l-purple-7 {
	border-left-color: #512DA8
}

.b-l-purple-8 {
	border-left-color: #4527A0
}

.b-l-indigo {
	border-left-color: #3F51B5
}

.b-l-indigo-3 {
	border-left-color: #7986CB
}

.b-l-indigo-4 {
	border-left-color: #5C6BC0
}

.b-l-indigo-6 {
	border-left-color: #3949AB
}

.b-l-indigo-7 {
	border-left-color: #303F9F
}

.b-l-indigo-8 {
	border-left-color: #283593
}

.b-l-blue {
	border-left-color: #03A9F4
}

.b-l-blue-3 {
	border-left-color: #4FC3F7
}

.b-l-blue-4 {
	border-left-color: #29B6F6
}

.b-l-blue-6 {
	border-left-color: #039BE5
}

.b-l-blue-7 {
	border-left-color: #0288D1
}

.b-l-blue-8 {
	border-left-color: #0277BD
}

.b-l-teal {
	border-left-color: #009688
}

.b-l-teal-3 {
	border-left-color: #4DB6AC
}

.b-l-teal-4 {
	border-left-color: #26A69A
}

.b-l-teal-6 {
	border-left-color: #00897B
}

.b-l-teal-7 {
	border-left-color: #00796B
}

.b-l-teal-8 {
	border-left-color: #00695C
}

.b-l-green {
	border-left-color: #8BC34A
}

.b-l-green-3 {
	border-left-color: #AED581
}

.b-l-green-4 {
	border-left-color: #9CCC65
}

.b-l-green-6 {
	border-left-color: #7CB342
}

.b-l-green-7 {
	border-left-color: #689F38
}

.b-l-green-8 {
	border-left-color: #558B2F
}

.b-l-orange {
	border-left-color: #FF9800
}

.b-l-orange-3 {
	border-left-color: #FFB74D
}

.b-l-orange-4 {
	border-left-color: #FFA726
}

.b-l-orange-6 {
	border-left-color: #FB8C00
}

.b-l-orange-7 {
	border-left-color: #F57C00
}

.b-l-orange-8 {
	border-left-color: #EF6C00
}

.b-l-brown {
	border-left-color: #795548
}

.b-l-brown-3 {
	border-left-color: #A1887F
}

.b-l-brown-4 {
	border-left-color: #8D6E63
}

.b-l-brown-6 {
	border-left-color: #6D4C41
}

.b-l-brown-7 {
	border-left-color: #5D4037
}

.b-l-brown-8 {
	border-left-color: #4E342E
}

.b-l-grey {
	border-left-color: #777
}

.b-l-grey-3 {
	border-left-color: #999
}

.b-l-grey-4 {
	border-left-color: #888
}

.b-l-grey-6 {
	border-left-color: #666
}

.b-l-grey-7 {
	border-left-color: #555
}

.b-l-grey-8 {
	border-left-color: #444
}

.b-l-slate {
	border-left-color: #607D8B
}

.b-l-slate-3 {
	border-left-color: #90A4AE
}

.b-l-slate-4 {
	border-left-color: #78909C
}

.b-l-slate-6 {
	border-left-color: #546E7A
}

.b-l-slate-7 {
	border-left-color: #455A64
}

.b-l-slate-8 {
	border-left-color: #37474F
}

.b-l-white {
	border-left-color: #fff
}

.b-r-primary {
	border-right-color: #2196F3
}

.b-r-primary-3 {
	border-right-color: #64B5F6
}

.b-r-primary-4 {
	border-right-color: #42A5F5
}

.b-r-primary-6 {
	border-right-color: #1E88E5
}

.b-r-primary-7 {
	border-right-color: #1976D2
}

.b-r-primary-8 {
	border-right-color: #1565C0
}

.b-r-danger {
	border-right-color: #F44336
}

.b-r-danger-3 {
	border-right-color: #E57373
}

.b-r-danger-4 {
	border-right-color: #EF5350
}

.b-r-danger-6 {
	border-right-color: #E53935
}

.b-r-danger-7 {
	border-right-color: #D32F2F
}

.b-r-danger-8 {
	border-right-color: #C62828
}

.b-r-success {
	border-right-color: #4CAF50
}

.b-r-success-3 {
	border-right-color: #81C784
}

.b-r-success-4 {
	border-right-color: #66BB6A
}

.b-r-success-6 {
	border-right-color: #43A047
}

.b-r-success-7 {
	border-right-color: #388E3C
}

.b-r-success-8 {
	border-right-color: #2E7D32
}

.b-r-warning {
	border-right-color: #FF5722
}

.b-r-warning-3 {
	border-right-color: #FF8A65
}

.b-r-warning-4 {
	border-right-color: #FF7043
}

.b-r-warning-6 {
	border-right-color: #F4511E
}

.b-r-warning-7 {
	border-right-color: #E64A19
}

.b-r-warning-8 {
	border-right-color: #D84315
}

.b-r-info {
	border-right-color: #00BCD4
}

.b-r-info-3 {
	border-right-color: #4DD0E1
}

.b-r-info-4 {
	border-right-color: #26C6DA
}

.b-r-info-6 {
	border-right-color: #00ACC1
}

.b-r-info-7 {
	border-right-color: #0097A7
}

.b-r-info-8 {
	border-right-color: #00838F
}

.b-r-pink {
	border-right-color: #E91E63
}

.b-r-pink-3 {
	border-right-color: #F06292
}

.b-r-pink-4 {
	border-right-color: #EC407A
}

.b-r-pink-6 {
	border-right-color: #D81B60
}

.b-r-pink-7 {
	border-right-color: #C2185B
}

.b-r-pink-8 {
	border-right-color: #AD1457
}

.b-r-violet {
	border-right-color: #9C27B0
}

.b-r-violet-3 {
	border-right-color: #BA68C8
}

.b-r-violet-4 {
	border-right-color: #AB47BC
}

.b-r-violet-6 {
	border-right-color: #8E24AA
}

.b-r-violet-7 {
	border-right-color: #7B1FA2
}

.b-r-violet-8 {
	border-right-color: #6A1B9A
}

.b-r-purple {
	border-right-color: #673AB7
}

.b-r-purple-3 {
	border-right-color: #9575CD
}

.b-r-purple-4 {
	border-right-color: #7E57C2
}

.b-r-purple-6 {
	border-right-color: #5E35B1
}

.b-r-purple-7 {
	border-right-color: #512DA8
}

.b-r-purple-8 {
	border-right-color: #4527A0
}

.b-r-indigo {
	border-right-color: #3F51B5
}

.b-r-indigo-3 {
	border-right-color: #7986CB
}

.b-r-indigo-4 {
	border-right-color: #5C6BC0
}

.b-r-indigo-6 {
	border-right-color: #3949AB
}

.b-r-indigo-7 {
	border-right-color: #303F9F
}

.b-r-indigo-8 {
	border-right-color: #283593
}

.b-r-blue {
	border-right-color: #03A9F4
}

.b-r-blue-3 {
	border-right-color: #4FC3F7
}

.b-r-blue-4 {
	border-right-color: #29B6F6
}

.b-r-blue-6 {
	border-right-color: #039BE5
}

.b-r-blue-7 {
	border-right-color: #0288D1
}

.b-r-blue-8 {
	border-right-color: #0277BD
}

.b-r-teal {
	border-right-color: #009688
}

.b-r-teal-3 {
	border-right-color: #4DB6AC
}

.b-r-teal-4 {
	border-right-color: #26A69A
}

.b-r-teal-6 {
	border-right-color: #00897B
}

.b-r-teal-7 {
	border-right-color: #00796B
}

.b-r-teal-8 {
	border-right-color: #00695C
}

.b-r-green {
	border-right-color: #8BC34A
}

.b-r-green-3 {
	border-right-color: #AED581
}

.b-r-green-4 {
	border-right-color: #9CCC65
}

.b-r-green-6 {
	border-right-color: #7CB342
}

.b-r-green-7 {
	border-right-color: #689F38
}

.b-r-green-8 {
	border-right-color: #558B2F
}

.b-r-orange {
	border-right-color: #FF9800
}

.b-r-orange-3 {
	border-right-color: #FFB74D
}

.b-r-orange-4 {
	border-right-color: #FFA726
}

.b-r-orange-6 {
	border-right-color: #FB8C00
}

.b-r-orange-7 {
	border-right-color: #F57C00
}

.b-r-orange-8 {
	border-right-color: #EF6C00
}

.b-r-brown {
	border-right-color: #795548
}

.b-r-brown-3 {
	border-right-color: #A1887F
}

.b-r-brown-4 {
	border-right-color: #8D6E63
}

.b-r-brown-6 {
	border-right-color: #6D4C41
}

.b-r-brown-7 {
	border-right-color: #5D4037
}

.b-r-brown-8 {
	border-right-color: #4E342E
}

.b-r-grey {
	border-right-color: #777
}

.b-r-grey-3 {
	border-right-color: #999
}

.b-r-grey-4 {
	border-right-color: #888
}

.b-r-grey-6 {
	border-right-color: #666
}

.b-r-grey-7 {
	border-right-color: #555
}

.b-r-grey-8 {
	border-right-color: #444
}

.b-r-slate {
	border-right-color: #607D8B
}

.b-r-slate-3 {
	border-right-color: #90A4AE
}

.b-r-slate-4 {
	border-right-color: #78909C
}

.b-r-slate-6 {
	border-right-color: #546E7A
}

.b-r-slate-7 {
	border-right-color: #455A64
}

.b-r-slate-8 {
	border-right-color: #37474F
}

.b-r-white {
	border-right-color: #fff
}

.text-primary,
.text-primary-3,
.text-primary-3:focus,
.text-primary-3:hover,
.text-primary:focus,
.text-primary:hover {
	color: #2196F3!important
}

.text-primary-4,
.text-primary-4:focus,
.text-primary-4:hover {
	color: #42A5F5!important
}

.text-primary-6,
.text-primary-6:focus,
.text-primary-6:hover {
	color: #1E88E5!important
}

.text-primary-7,
.text-primary-7:focus,
.text-primary-7:hover {
	color: #1976D2!important
}

.text-primary-8,
.text-primary-8:focus,
.text-primary-8:hover {
	color: #1565C0!important
}

.text-danger,
.text-danger:focus,
.text-danger:hover {
	color: #F44336!important
}

.text-danger-3,
.text-danger-3:focus,
.text-danger-3:hover {
	color: #E57373!important
}

.text-danger-4,
.text-danger-4:focus,
.text-danger-4:hover {
	color: #EF5350!important
}

.text-danger-6,
.text-danger-6:focus,
.text-danger-6:hover {
	color: #E53935!important
}

.text-danger-7,
.text-danger-7:focus,
.text-danger-7:hover {
	color: #D32F2F!important
}

.text-danger-8,
.text-danger-8:focus,
.text-danger-8:hover {
	color: #C62828!important
}

.text-success,
.text-success:focus,
.text-success:hover {
	color: #4CAF50!important
}

.text-success-3,
.text-success-3:focus,
.text-success-3:hover {
	color: #81C784!important
}

.text-success-4,
.text-success-4:focus,
.text-success-4:hover {
	color: #66BB6A!important
}

.text-success-6,
.text-success-6:focus,
.text-success-6:hover {
	color: #43A047!important
}

.text-success-7,
.text-success-7:focus,
.text-success-7:hover {
	color: #388E3C!important
}

.text-success-8,
.text-success-8:focus,
.text-success-8:hover {
	color: #2E7D32!important
}

.text-warning,
.text-warning:focus,
.text-warning:hover {
	color: #FF5722!important
}

.text-warning-3,
.text-warning-3:focus,
.text-warning-3:hover {
	color: #FF8A65!important
}

.text-warning-4,
.text-warning-4:focus,
.text-warning-4:hover {
	color: #FF7043!important
}

.text-warning-6,
.text-warning-6:focus,
.text-warning-6:hover {
	color: #F4511E!important
}

.text-warning-7,
.text-warning-7:focus,
.text-warning-7:hover {
	color: #E64A19!important
}

.text-warning-8,
.text-warning-8:focus,
.text-warning-8:hover {
	color: #D84315!important
}

.text-info,
.text-info:focus,
.text-info:hover {
	color: #00BCD4!important
}

.text-info-3,
.text-info-3:focus,
.text-info-3:hover {
	color: #4DD0E1!important
}

.text-info-4,
.text-info-4:focus,
.text-info-4:hover {
	color: #26C6DA!important
}

.text-info-6,
.text-info-6:focus,
.text-info-6:hover {
	color: #00ACC1!important
}

.text-info-7,
.text-info-7:focus,
.text-info-7:hover {
	color: #0097A7!important
}

.text-info-8,
.text-info-8:focus,
.text-info-8:hover {
	color: #00838F!important
}

.text-pink,
.text-pink:focus,
.text-pink:hover {
	color: #E91E63!important
}

.text-pink-3,
.text-pink-3:focus,
.text-pink-3:hover {
	color: #F06292!important
}

.text-pink-4,
.text-pink-4:focus,
.text-pink-4:hover {
	color: #EC407A!important
}

.text-pink-6,
.text-pink-6:focus,
.text-pink-6:hover {
	color: #D81B60!important
}

.text-pink-7,
.text-pink-7:focus,
.text-pink-7:hover {
	color: #C2185B!important
}

.text-pink-8,
.text-pink-8:focus,
.text-pink-8:hover {
	color: #AD1457!important
}

.text-violet,
.text-violet:focus,
.text-violet:hover {
	color: #9C27B0!important
}

.text-violet-3,
.text-violet-3:focus,
.text-violet-3:hover {
	color: #BA68C8!important
}

.text-violet-4,
.text-violet-4:focus,
.text-violet-4:hover {
	color: #AB47BC!important
}

.text-violet-6,
.text-violet-6:focus,
.text-violet-6:hover {
	color: #8E24AA!important
}

.text-violet-7,
.text-violet-7:focus,
.text-violet-7:hover {
	color: #7B1FA2!important
}

.text-violet-8,
.text-violet-8:focus,
.text-violet-8:hover {
	color: #6A1B9A!important
}

.text-purple,
.text-purple:focus,
.text-purple:hover {
	color: #673AB7!important
}

.text-purple-3,
.text-purple-3:focus,
.text-purple-3:hover {
	color: #9575CD!important
}

.text-purple-4,
.text-purple-4:focus,
.text-purple-4:hover {
	color: #7E57C2!important
}

.text-purple-6,
.text-purple-6:focus,
.text-purple-6:hover {
	color: #5E35B1!important
}

.text-purple-7,
.text-purple-7:focus,
.text-purple-7:hover {
	color: #512DA8!important
}

.text-purple-8,
.text-purple-8:focus,
.text-purple-8:hover {
	color: #4527A0!important
}

.text-indigo,
.text-indigo:focus,
.text-indigo:hover {
	color: #3F51B5!important
}

.text-indigo-3,
.text-indigo-3:focus,
.text-indigo-3:hover {
	color: #7986CB!important
}

.text-indigo-4,
.text-indigo-4:focus,
.text-indigo-4:hover {
	color: #5C6BC0!important
}

.text-indigo-6,
.text-indigo-6:focus,
.text-indigo-6:hover {
	color: #3949AB!important
}

.text-indigo-7,
.text-indigo-7:focus,
.text-indigo-7:hover {
	color: #303F9F!important
}

.text-indigo-8,
.text-indigo-8:focus,
.text-indigo-8:hover {
	color: #283593!important
}

.text-blue,
.text-blue:focus,
.text-blue:hover {
	color: #03A9F4!important
}

.text-blue-3,
.text-blue-3:focus,
.text-blue-3:hover {
	color: #4FC3F7!important
}

.text-blue-4,
.text-blue-4:focus,
.text-blue-4:hover {
	color: #29B6F6!important
}

.text-blue-6,
.text-blue-6:focus,
.text-blue-6:hover {
	color: #039BE5!important
}

.text-blue-7,
.text-blue-7:focus,
.text-blue-7:hover {
	color: #0288D1!important
}

.text-blue-8,
.text-blue-8:focus,
.text-blue-8:hover {
	color: #0277BD!important
}

.text-teal,
.text-teal:focus,
.text-teal:hover {
	color: #009688!important
}

.text-teal-3,
.text-teal-3:focus,
.text-teal-3:hover {
	color: #4DB6AC!important
}

.text-teal-4,
.text-teal-4:focus,
.text-teal-4:hover {
	color: #26A69A!important
}

.text-teal-6,
.text-teal-6:focus,
.text-teal-6:hover {
	color: #00897B!important
}

.text-teal-7,
.text-teal-7:focus,
.text-teal-7:hover {
	color: #00796B!important
}

.text-teal-8,
.text-teal-8:focus,
.text-teal-8:hover {
	color: #00695C!important
}

.text-green,
.text-green:focus,
.text-green:hover {
	color: #8BC34A!important
}

.text-green-3,
.text-green-3:focus,
.text-green-3:hover {
	color: #AED581!important
}

.text-green-4,
.text-green-4:focus,
.text-green-4:hover {
	color: #9CCC65!important
}

.text-green-6,
.text-green-6:focus,
.text-green-6:hover {
	color: #7CB342!important
}

.text-green-7,
.text-green-7:focus,
.text-green-7:hover {
	color: #689F38!important
}

.text-green-8,
.text-green-8:focus,
.text-green-8:hover {
	color: #558B2F!important
}

.text-orange,
.text-orange:focus,
.text-orange:hover {
	color: #FF9800!important
}

.text-orange-3,
.text-orange-3:focus,
.text-orange-3:hover {
	color: #FFB74D!important
}

.text-orange-4,
.text-orange-4:focus,
.text-orange-4:hover {
	color: #FFA726!important
}

.text-orange-6,
.text-orange-6:focus,
.text-orange-6:hover {
	color: #FB8C00!important
}

.text-orange-7,
.text-orange-7:focus,
.text-orange-7:hover {
	color: #F57C00!important
}

.text-orange-8,
.text-orange-8:focus,
.text-orange-8:hover {
	color: #EF6C00!important
}

.text-brown,
.text-brown:focus,
.text-brown:hover {
	color: #795548!important
}

.text-brown-3,
.text-brown-3:focus,
.text-brown-3:hover {
	color: #A1887F!important
}

.text-brown-4,
.text-brown-4:focus,
.text-brown-4:hover {
	color: #8D6E63!important
}

.text-brown-6,
.text-brown-6:focus,
.text-brown-6:hover {
	color: #6D4C41!important
}

.text-brown-7,
.text-brown-7:focus,
.text-brown-7:hover {
	color: #5D4037!important
}

.text-brown-8,
.text-brown-8:focus,
.text-brown-8:hover {
	color: #4E342E!important
}

.text-grey,
.text-grey:focus,
.text-grey:hover {
	color: #777!important
}

.text-grey-3,
.text-grey-3:focus,
.text-grey-3:hover {
	color: #999!important
}

.text-grey-4,
.text-grey-4:focus,
.text-grey-4:hover {
	color: #888!important
}

.text-grey-6,
.text-grey-6:focus,
.text-grey-6:hover {
	color: #666!important
}

.text-grey-7,
.text-grey-7:focus,
.text-grey-7:hover {
	color: #555!important
}

.text-grey-8,
.text-grey-8:focus,
.text-grey-8:hover {
	color: #444!important
}

.text-slate,
.text-slate:focus,
.text-slate:hover {
	color: #607D8B!important
}

.text-slate-3,
.text-slate-3:focus,
.text-slate-3:hover {
	color: #90A4AE!important
}

.text-slate-4,
.text-slate-4:focus,
.text-slate-4:hover {
	color: #78909C!important
}

.text-slate-6,
.text-slate-6:focus,
.text-slate-6:hover {
	color: #546E7A!important
}

.text-slate-7,
.text-slate-7:focus,
.text-slate-7:hover {
	color: #455A64!important
}

.text-slate-8,
.text-slate-8:focus,
.text-slate-8:hover {
	color: #37474F!important
}

.text-white,
.text-white:focus,
.text-white:hover {
	color: #fff!important
}

.text-default,
.text-default:focus,
.text-default:hover {
	color: #333!important
}