.flex-container {
	position: relative;
}

.flex-grow-1 {
	flex-grow: 1;
	/*overflow-x: hidden;*/
	/*overflow-y: auto;*/
}

.flex-content {
	padding: 0 10px 60px;
}

@media (min-width: 769px) {
	.flex-container {
		width: 100%;
		display: flex;
	}
}