.page-container {
	position: relative;
}

@media (min-width: 769px) {
	.page-container {
		width: 100%;
		display: table;
		table-layout: fixed
	}
	.page-content {
		display: table-row;
	}
	.content-wrapper {
		display: table-cell;
		vertical-align: top;
	}
}