/* reset bootstrap start */
.btn {
	position: relative;
	border-width: 0;
}

.input-group-addon {
	background-color: transparent;
}

.btn,
.card,
.breadcrumb,
.nav-pills .nav-link,
.nav-tabs .nav-link {
	border-radius: 0;
}


/* reset bootstrap end */