/* reset bootstrap start */

a:hover,
a:focus {
	text-decoration: none;
}

.btn {
	position: relative;
	border-width: 0;
}

.input-group-addon {
	background-color: transparent;
}

.btn,
.panel {
	border-radius: 0;
}

/* reset bootstrap end */