<nav class="breadcrumb">
	<a class="breadcrumb-item" routerLink="/dashboard">首页</a>
	<span class="breadcrumb-item active">租客合同</span>
</nav>
<table class="table table-sm table-bordered table-hover">
	<colgroup>
		<col width="5%" />
		<col width="15%" />
		<col width="15%" />
		<col width="15%" />
		<col width="25%" />
		<col width="10%" />
		<col width="15%" />
	</colgroup>
	<thead class="thead-inverse">
		<tr>
			<th class="text-sm-center align-middle">#</th>
			<th class="text-sm-center align-middle">编号</th>
			<th class="text-sm-center align-middle">标题</th>
			<th class="text-sm-center align-middle">区域</th>
			<th class="text-sm-center align-middle">街道</th>
			<th class="text-sm-center align-middle">总面积</th>
			<th class="text-sm-center align-middle">操作</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>