<m-navbar></m-navbar>
<div class="flex-container">
	<m-sidebar></m-sidebar>
	<div class="flex-grow-1">
		<ol class="breadcrumb">
			<li><a href="javascript:void(0)">首页</a></li>
			<li class="active">租房管理</li>
			<li class="active">租客合同</li>
		</ol>
		<div class="flex-content">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">租客合同</h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover table-bordered table-striped table-condensed">
						<colgroup>
							<col width="5%" />
							<col width="15%" />
							<col width="15%" />
							<col width="15%" />
							<col width="10%" />
							<col width="25%" />
							<col width="15%" />
						</colgroup>
						<thead>
							<tr>
								<th width="5%"><div><span>#</span></div></th>
								<th width="30%" colspan="2"><div><span>名称</span></div></th>
								<th width="10%"><div><span>编号</span></div></th>
								<th width="40%" colspan="2"><div><span>地址</span></div></th>
								<th width="15%" colspan="2"><div><span>操作</span></div></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<button class="btn btn-link">
										<i class="fa fa-fw fa-plus-square-o"></i>
										<!--<i class="fa fa-fw fa-minus-square-o"></i>-->
									</button>
								</td>
								<td colspan="2">asd</td>
								<td></td>
								<td colspan="2"></td>
								<td colspan="2">
									<div class="btn-group btn-group-justified">
										<a class="btn btn-success btn-sm" href="javascript:void(0);"><i class="fa fa-fw fa-eye"></i>查看</a>
									</div>
								</td>
							</tr>
							<tr>
								<th>房间号</th>
								<th>租客名称</th>
								<th>联系电话</th>
								<th>租赁开始日期</th>
								<th>租赁结束日期</th>
								<th>租金</th>
								<th>操作</th>
							</tr>
							<tr class="info">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<div class="btn-group btn-group-justified">
										<!--<a class="btn btn-default btn-sm"><i class="fa fa-fw fa-eye"></i>查看</a>-->
										<a class="btn btn-primary btn-sm"><i class="fa fa-fw fa-bookmark-o"></i>变更</a>
										<a class="btn btn-default btn-sm" href="javascript:void(0);"><i class="fa fa-fw fa-history"></i>历史</a>
									</div>
								</td>
								<!--<td>
									<div class="btn-group btn-group-justified">
										<a class="btn btn-default btn-sm"><i class="fa fa-fw fa-calendar-check-o"></i>预约</a>
										<a class="btn btn-default btn-sm"><i class="fa fa-fw fa-sign-in"></i>签约</a>
										<a class="btn btn-default btn-sm" href="javascript:void(0);"><i class="fa fa-fw fa-history"></i>历史</a>
									</div>
								</td>-->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>