<div class="card">
	<div class="card-header">
		<ul class="nav nav-pills card-header-pills float-xs-left">
			<li class="nav-item"><a class="nav-link btn-sm" href="javascript:void(0);" [class.active]="active[0]" (click)="onActive(0)">租客合同</a></li>
			<li class="nav-item"><a class="nav-link btn-sm" href="javascript:void(0);" [class.active]="active[1]" (click)="onActive(1)">住客指南</a></li>
			<li class="nav-item"><a class="nav-link btn-sm" href="javascript:void(0);" [class.active]="active[2]" (click)="onActive(2)">水电燃气</a></li>
			<li class="nav-item"><a class="nav-link btn-sm" href="javascript:void(0);" [class.active]="active[3]" (click)="onActive(3)">打印账单</a></li>
		</ul>
	</div>
	<div class="card-block tab-content">
		<div class="tab-pane" [class.active]="active[0]">
			<housing-room-contract-print-meal></housing-room-contract-print-meal>
		</div>

		<div class="tab-pane" [class.active]="active[1]">
			住客指南
		</div>

		<div class="tab-pane" [class.active]="active[2]">
			水电燃气
		</div>

		<div class="tab-pane" [class.active]="active[3]">
			打印账单
		</div>
	</div>
	<div class="card-footer text-sm-right">
		<button type="button" class="btn btn-primary btn-sm" (click)="onNext()">下一步</button>
	</div>
</div>