<div class="print print-only">
	<div class="print-content">
		<div>
			<p class="MsoNormal t-i-240">
				<span class="f-f-s f-w-b f-s-18">住客指南</span>
			</p>
			<p class="MsoNormal">
				<span class="f-f-s f-s-12">1、地址：</span>
				<span class="f-f-s f-s-12"></span>
			</p>
			<p class="MsoNormal">
				<span class="f-f-s f-s-12">2、WIFI：52tuanzu-</span>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span class="f-f-s f-s-12">密码：@52tuanzu1006</span>
			</p>
			<p class="MsoNormal">
				<span class="f-f-s f-s-12">3、客户服务、日常保修：400-110-6188</span>
			</p>
			<p class="MsoNormal">
				<span class="f-f-s f-s-12">4、日常保修QQ：2926914385</span>
			</p>
			<p class="MsoNormal">
				<span class="f-f-s f-s-12">5、微信公众号：tuanzu52</span>
				<span class="f-f-s f-s-12"><!--<img src="http://52tuanzu.com/skin/home/images/tags/qrcode.jpg" width="100px" height="100px"/>--></span>
			</p>
			<p class="MsoNormal">
				<span class="f-f-s f-s-12">6、团租小窝与平安保险携手打造“租赁险”，您在房屋内（包括房屋公共区域和您的卧室）发生如下意外：<span class="t-d-u">水暖管爆裂损失、盗抢、火灾、爆炸等意外均可以申请保险赔付</span>(<strong>保险赔付以本公司签订的保险合同内容为准</strong>)，详细请查看官网保险合同细则。</span>
			</p>
			<p class="MsoNormal t-i-400">
				<span class="f-f-s f-s-12">管理员：</span>
			</p>
			<p class="MsoNormal t-i-400">
				<span class="f-f-s f-s-12">电话：</span>
			</p>
			<br />
			<p class="MsoNormal">
				<span class="f-f-s f-s-14 f-w-b t-d-u">温馨提示：退房时，使用人须自行清理自备物品，否则甲方将按200元的标准收取物品清理费。</span>
			</p>
			<p class="MsoNormal m-t-10">
				<span class="f-f-s f-s-14 f-w-b">缴费须知：</span>
			</p>
			<p class="MsoNormal">
				<span class="f-f-s f-s-10 f-w-b">&nbsp;&nbsp;&nbsp;&nbsp;尊敬的<span class="t-d-u"></span>先生/女士，租金、管理费及水电燃气费请于付款月28号前支付下一期的租金。租金请转账到以下银行账户。</span>
			</p>
			<p class="MsoNormal">
				<span class="f-f-s f-s-18 f-w-b">户名：广州团租资产管理有限公司</span>
			</p>
			<p class="MsoNormal">
				<span class="f-f-s f-s-18 f-w-b">开户行：招商银行广州林和支行</span>
			</p>
			<p class="MsoNormal">
				<span class="f-f-s f-s-18 f-w-b">账号：1209 0881 7410 301</span>
			</p>
			<p class="MsoNormal m-t-40">
				<span class="f-f-s f-s-12 f-w-b">附：付款计划：（押二付一）</span>
			</p>
		</div>
	</div>
</div>