<div class="print print-only">
	<div class="print-content">
		<table class="table table-bordered">
			<tr>
				<td class="text-center f-s-14" colspan="15">广州团租资产管理有限公司</td>
			</tr>
			<tr>
				<td class="text-center" colspan="9">专 用 收 据&nbsp;&nbsp;</td>
				<td class="text-center" colspan="6"></td>
			</tr>
			<tr class="b-t b-r b-l">
				<td class="text-right" colspan="3">房间地址</td>
				<td class="b-r" colspan="12" style="text-align: left;"></td>
			</tr>
			<tr class="b-t b-l text-center">
				<td class="text-right" colspan="3">会员姓名</td>
				<td class="b-r" colspan="4"></td>
				<td colspan="2">收据日期</td>
				<td class="b-r" colspan="6"></td>
			</tr>
			<tr class="b-t b-l">
				<th class="w-s-n text-center" style="vertical-align: middle;" colspan="3">项目</th>
				<th class="w-s-n b-l b-r text-center" colspan="8">收费时间区段</th>
				<th class="w-s-n b-r text-center" style="vertical-align: middle;" colspan="3">金额（元）</th>
				<td class="w-s-n b-r b-b text-center" style="vertical-align: middle;" rowspan="11">
					<font>①<br />存<br />根<br />︵<br />白<br />︶<br /></font>
					<font>②<br />收<br />据<br />︵<br />红<br />︶<br /></font>
					<font>③<br />记<br />账<br />︵<br />黄<br />︶<br /></font>
				</td>
			</tr>
			<tr class="b-t b-l text-center">
				<td class="text-right b-r" colspan="3">租房押金</td>
				<td class="b-r" colspan="3"></td>
				<td class="b-r" colspan="2">至</td>
				<td class="b-r" colspan="3"></td>
				<td colspan="3">元</td>
			</tr>
			<tr class="b-t b-l text-center">
				<td class="text-right b-r" colspan="3">房屋使用费</td>
				<td class="b-r" colspan="3"></td>
				<td class="b-r" colspan="2">至</td>
				<td class="b-r" colspan="3"></td>
				<td colspan="3">元</td>
			</tr>
			<tr class="b-t b-l text-center">
				<td class="text-right b-r" colspan="3">管理费</td>
				<td class="b-r" colspan="3"></td>
				<td class="b-r" colspan="2">至</td>
				<td class="b-r" colspan="3"></td>
				<td colspan="3">元</td>
			</tr>
			<tr class="b-t b-l text-center">
				<td class="text-right b-r" colspan="3">代收水、电、燃气费</td>
				<td class="b-r" colspan="3"></td>
				<td class="b-r" colspan="2">至</td>
				<td class="b-r" colspan="3"></td>
				<td colspan="3">元</td>
			</tr>
			<tr class="b-t b-l text-center">
				<td class="text-right b-r" colspan="3">小区业主卡押金</td>
				<td class="b-r" colspan="3"></td>
				<td class="b-r" colspan="2">至</td>
				<td class="b-r" colspan="3"></td>
				<td colspan="3">0</td>
			</tr>
			<tr class="b-t b-l">
				<td class="text-right b-r" colspan="3">付款方式</td>
				<td class="b-l b-r" colspan="11"></td>
			</tr>
			<tr class="b-t b-l">
				<td class="b-r text-center" colspan="3">备注</td>
				<td class="text-right" colspan="11"></td>
			</tr>
			<tr class="b-t b-l b-b">
				<td class="text-right" colspan="3">合计（大写RMB）</td>
				<td class="b-l b-r" colspan="6">￥</td>
				<td class="b-r text-center" colspan="3">小写（RMB)</td>
				<td colspan="2">元</td>
			</tr>
			<tr>
				<td class="text-center" colspan="3">经手人</td>
				<td colspan="2"></td>
				<td class="text-center" colspan="2">核准</td>
				<td colspan="2"></td>
				<td class="text-center" colspan="3">收款单位（盖章）</td>
				<td colspan="2"></td>
			</tr>
		</table>
	</div>
</div>