<div class="print print-only">
	<div class="print-content">
		<h4 class="f-w-br text-center">www.52tuanzu.com （52团租网）</h4>
		<h4 class="f-w-br text-center">入住协议</h4>
		<table class="table table-bordered">
			<tr>
				<td rowspan="2">甲方<br />（管理方）</td>
				<td rowspan="2"  colspan="2">广州团租资产管理有限公司</td>
				<td>管理员</td>
				<td></td>
			</tr>
			<tr>
				<td>客服</td>
				<td>400-110-6188</td>
			</tr>
			<tr>
				<td>办公地址</td>
				<td colspan="4" style="text-align: left;">广州市天河区天河北路689号光大银行大厦1006室</td>
			</tr>
			<tr>
				<td rowspan="3">乙方<br />（使用人）</td>
			</tr>
			<tr>
				<td style="">姓名</td>
				<td></td>
				<td>身份证</td>
				<td style="width: 220px;"></td>
			</tr>
			<tr>
				<td>手机</td>
				<td></td>
				<td>邮箱</td>
				<td></td>

			</tr>
			<tr>
				<td>公寓地址</td>
				<td colspan="5" style="text-align: left;"></td>

			</tr>
			<tr>
				<td>租赁起始日</td>
				<td></td>
				<td>租赁终止日</td>
				<td colspan="3"></td>

			</tr>
			<tr>
				<td>月基价</td>
				<td>RMB:元/月</td>
				<td>押金</td>
				<td colspan="3">RMB:元</td>
			</tr>
			<tr>
				<td rowspan="2">房间使用费合计</td>
				<td rowspan="2">RMB:元/月</td>
				<td>房间租金</td>
				<td colspan="3">RMB:元/月</td>
			</tr>
			<tr>
				<td>家具家电租金</td>
				<td colspan="3">RMB:元/月</td>

			</tr>
			<tr>
				<td>管理费</td>
				<td>RMB:元/月 </td>
				<td colspan="4">含公共保洁、物业管理、设施维修保养费等</td>

			</tr>
			<tr>
				<td rowspan="3" >水、电、燃气费</td>
				<td rowspan="3" >RMB:元/月</td>
				<td >水费标准</td>
				<td colspan="3">单价：5.46元/吨。按每天1元的标准固定收</td>
			</tr>
			<tr>
				<td>电费标准</td>
				<td colspan="3">单价：0.91元/度</td>

			</tr>
			<tr>
				<td>燃气费标准</td>
				<td colspan="3">单价：3.45元/立方米</td>
			</tr>
		</table>
		<p class="m-t-20 m-b-20">
			房间使用费由房间租金、家具家电租金。
			<br /> 管理费由公共保洁费、设施保养维修费、物业管理费等组成。
			<br /> 电费、燃气费为代收代缴。退房时统计费用总额，按照入住时间、入住人数分摊结算，多退少补。
			<br /> 其他约定详见附件：一般条款
		</p>
		<p class="m-t-40 m-b-40">
			甲方：广州团租资产管理有限公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			乙方：
		</p>
		<p class="m-t-40 m-b-40">
			签约日期：
			签约日期：&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;日
		</p>
	</div>

	<div class="print-content">
		<h4 class="f-w-br text-center m-b-10">
			&nbsp;&nbsp;&nbsp;&nbsp;团租公寓入住协议一般条款
		</h4>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;根据《团租公寓会员章程》和诚信原则，甲方将团租公寓租赁给乙方居住使用，双方就入住事宜达成如下协议：</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第一条 该公寓房间仅限使用人<u>壹人</u>使用。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第二条 合同期限分为半年租，年租。乙方可任选一种租期。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第三条 押金、租金及支付：见入住协议。首次付租金均需加零头天数租金收取。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;乙方应于付款月<u>25日</u>支付下一周期的帐单，超过<u>5天</u>未付的加收滞纳金<u>50元/天</u>（用于催收费用）。同时信用等级降级。乙方任何一次超过付款月次月<u>5日</u>未付上月帐单的，本协议自动解除，甲方收回房屋，没收租房押金，并按照遗弃物处置乙方遗留在房屋内的物品。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第四条 房间使用费包括房间的租金、家具家电租金和本公司收取的管理及杂费。<u>电费（均摊）、燃气费（均摊）。在公共区域内放置任何物品，包括但不限于家具、车辆、垃圾袋、各种包装一律视作委托处置的遗弃物，清理费<u>50元</u>/次。退房时，乙方须自行清理自备物品，否则甲方将按<u>200元</u>的标准收取物品清理费。</u>
		</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第五条 房屋、家具电器及所属设施的维修采取乙方自动式报修，甲方提供水、电、家电修理单位，并承担修理费用（乙方使用不当除外），乙方负责联系安排维修时间。乙方应合理使用其所承租的房屋及其附属设施。如因使用不当造成房屋及设施损坏的，乙方应立即负责修复或按照价目表赔偿。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;乙方应爱护使用家具、设备不得擅自搬动或者占用邻居的家具，注意安全使用水、电、燃气，不得擅自改变房屋用途，不得存放危险物品，不得攀爬外墙、窗户，注意防火，如因违反本条引发的安全事故的，由乙方承担责任，损坏墙面的，照价赔偿<u>500元</u>/面。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第六条 房屋严禁个人私自转让或转租。乙方如需要转让或转租的，必须通过本公司办理并满足如下条件：</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;1）房费按照本公司最新价格政策执行；2）通过我公司推荐广告渠道再次成功出租该房屋需要向我公司支付<u>500元</u>广告服务费；3）乙方可自行寻找租客，成功转租的须通过本公司办理合同变更，变更手续需支付<u>100元</u>的合同变更手续费，对于乙方自行寻找的租客必须符合甲方的租客选择标准； 4）新租客的租期不得低于乙方未执行完的租期。5）乙方必须入住满<u>3个月以上</u>才可申请转租</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;乙方擅自转租或转让给乙方以外的人入住的，本合同立即解除，甲方没收全部履约押金。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第七条 续租</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;1）租期期满，乙方如需要续租，须提前<u>30天</u>向甲方提出申请，签订续租合同，并支付下一周期的账单。否则甲方将视乙方放弃续租权，甲方有权在租期期满时将房屋出租给他人。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;2）租期期满前<u>30天</u>，如乙方未签订续租合同，甲方可以<u>提前30天</u>安排新租客看房签约，乙方应予以协助配合。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第八条甲方应保证租赁房屋本身及附属设施、设备处于能够正常使用状态，合同期满，乙方原样交还甲方。验收时有异议应当场提出。乙方交还甲方房屋应当保持房屋及设施、设备外在与功能的完好状态。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第九条 乙方有下列行为之一的，甲方有权终止合同，收回房屋，同时乙方应按照合同约定月租金的两倍向甲方支付违约金。1）未经甲方书面同意，拆除或改变动房屋结构、设备或损坏房屋；2）将房屋用作居住以外用途或利用该房屋进行违法活动的；3）拖欠房租累计<u>10天以上</u>的；4）乙方居住人数超过<u>壹人</u>的；5）邻居投诉气味、噪音扰民的；6）不讲卫生乱扔垃圾、堵塞下水道马桶的；7）在公共区域内堆物拒不改正的；8）公寓内禁止饲养宠物，包括但不限于猫、狗、蜥蜴、鸟、各类老鼠、猪、蜘蛛等宠物的；9）私自从租住房间以外包括客厅等公共区域外接电源的。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第十条押金退回，合同期满或者中途转租，在清理结算完毕后，<u>7个工作日</u>内把押金退还到乙方指定的银行账户。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第十一条 乙方未经甲方同意，中途擅自退租的，乙方应该按合同约定月租金两倍向甲方支付违约金。因不可抗力包括国家政策需要拆除或者房屋被收回等原因致使本合同不能继续履行，双方互不承担责任。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第十二条公寓配备（以甲方提供的现状为准）</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;详见附件物品清单，实际以附件物品清单为准，双方签字认可。如需要大楼门卡加收押金<u>50元/张</u>，</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;第十三条本合同及附件一式二份，由甲、乙各执一份，在正面乙方签名处签字生效。</div>
	</div>
</div>